////
/// @group colors
/// @type Color
////

/// white
$dc-white: #fff !default;

/// black
$dc-black: #000 !default;

/// gray 80
$dc-gray80: #F5F5F5 !default;

/// gray 70
$dc-gray70: #EBEBEB !default;

/// gray 60
$dc-gray60: #E0E0E0 !default;

/// gray 50
$dc-gray50: #D1D1D1 !default;

/// gray 45
$dc-gray45: #BFBFBF !default;

/// gray 40
$dc-gray40: #999999 !default;

/// gray 30
$dc-gray30: #737373 !default;

/// gray 20
$dc-gray20: #4C4C4C !default;

/// gray 10
$dc-gray10: #262626 !default;

/// gray 05
$dc-gray05: #161616 !default;

//  = ACCENT COLORS
//  ---------------------------------------------------------------------------

// BLUE

/// blue 80
$dc-blue80: #E6F1FD !default;

/// blue 70
$dc-blue70: #CCE2FC !default;

/// blue 60
$dc-blue60: #99C6F9 !default;

/// blue 50
$dc-blue50: #66A9F7 !default;

/// blue 45
$dc-blue45: #338DF4 !default;

/// blue 40
$dc-blue40: #0071F2 !default;

/// blue 30
$dc-blue30: #005AC1 !default;

/// blue 20
$dc-blue20: #004391 !default;

/// blue 10
$dc-blue10: #002D60 !default;

/// blue 05
$dc-blue05: #00152E !default;

// CYAN

/// cyan 80
$dc-cyan80: #E6FBFC !default;

/// cyan 70
$dc-cyan70: #CDF8F9 !default;

/// cyan 60
$dc-cyan60: #9CF1F3 !default;

/// cyan 50
$dc-cyan50: #6BEBED !default;

/// cyan 45
$dc-cyan45: #09DEE2 !default;

/// cyan 40
$dc-cyan40: #08CED2 !default;

/// cyan 30
$dc-cyan30: #07B1B4 !default;

/// cyan 20
$dc-cyan20: #058587 !default;

/// cyan 10
$dc-cyan10: #03585A !default;

/// cyan 05
$dc-cyan05: #024243 !default;

// GREEN

/// green 80
$dc-green80: #E6FAEE !default;

/// green 70
$dc-green70: #CCF6DD !default;

/// green 60
$dc-green60: #99EDBB !default;

/// green 50
$dc-green50: #66E59A !default;

/// green 45
$dc-green45: #33DC78 !default;

/// green 40
$dc-green40: #00D457 !default;

/// green 30
$dc-green30: #00A945 !default;

/// green 20
$dc-green20: #007F34 !default;

/// green 10
$dc-green10: #005422 !default;

/// green 05
$dc-green05: #003F19 !default;

// YELLOW

/// yellow 80
$dc-yellow80: #FFFBE9 !default;

/// yellow 70
$dc-yellow70: #FFF6CA !default;

/// yellow 60
$dc-yellow60: #FFF1AF !default;

/// yellow 50
$dc-yellow50: #FFEC8E !default;

/// yellow 45
$dc-yellow45: #FFE24F !default;

/// yellow 40
$dc-yellow40: #EDD249 !default;

/// yellow 30
$dc-yellow30: #CCB43F !default;

/// yellow 20
$dc-yellow20: #99872F !default;

/// yellow 10
$dc-yellow10: #665A1F !default;

/// yellow 05
$dc-yellow05: #4C4317 !default;

// ORANGE

/// orange 80
$dc-orange80: #FCF1E6 !default;

/// orange 70
$dc-orange70: #FAE3CC !default;

/// orange 60
$dc-orange60: #F5C799 !default;

/// orange 50
$dc-orange50: #F0AB66 !default;

/// orange 45
$dc-orange45: #EB8F33 !default;

/// orange 40
$dc-orange40: #E67300 !default;

/// orange 30
$dc-orange30: #B85C00 !default;

/// orange 20
$dc-orange20: #8A4500 !default;

/// orange 10
$dc-orange10: #5C2E00 !default;

/// orange 05
$dc-orange05: #442200 !default;

// RED

/// red 80
$dc-red80: #FAEBEA !default;

/// red 70
$dc-red70: #F6D7D5 !default;

/// red 60
$dc-red60: #EDAFAB !default;

/// red 50
$dc-red50: #E48881 !default;

/// red 45
$dc-red45: #DB6057 !default;

/// red 40
$dc-red40: #D2392E !default;

/// red 30
$dc-red30: #A82D24 !default;

/// red 20
$dc-red20: #7E221B !default;

/// red 10
$dc-red10: #541612 !default;

/// red 05
$dc-red05: #320D0A !default;


// MAGENTA

/// magenta 80
$dc-magenta80: #FAEEF9 !default;

/// magenta 70
$dc-magenta70: #F5DDF3 !default;

/// magenta 60
$dc-magenta60: #ECBCE8 !default;

/// magenta 50
$dc-magenta50: #E39ADD !default;

/// magenta 45
$dc-magenta45: #DA79D2 !default;

/// magenta 40
$dc-magenta40: #D158C7 !default;

/// magenta 30
$dc-magenta30: #A7469F !default;

/// magenta 20
$dc-magenta20: #7D3477 !default;

/// magenta 10
$dc-magenta10: #53234F !default;

/// magenta 05
$dc-magenta05: #3E1A3B !default;


// PURPLE

/// purple 80
$dc-purple80: #F1ECFF !default;

/// purple 70
$dc-purple70: #E3D9FF !default;


/// purple 60
$dc-purple60: #C7B4FF !default;

/// purple 50
$dc-purple50: #AB8FFF !default;

/// purple 45
$dc-purple45: #8F6AFF !default;

/// purple 40
$dc-purple40: #7345FF !default;

/// purple 30
$dc-purple30: #5C37CC !default;

/// purple 20
$dc-purple20: #452999 !default;

/// purple 10
$dc-purple10: #2E1B66 !default;

/// purple 05
$dc-purple05: #22144C !default;
