//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------

//  = PATHS
//  ---------------------------------------------------------------------------

$dc-font-path: "../fonts" !default;
$dc-image-path: "../img" !default;

//  = GRAYS
//  ---------------------------------------------------------------------------

$dc-white: #fff !default;

$dc-gray80: #F5F5F5 !default;
$dc-gray70: #EBEBEB !default;
$dc-gray60: #E0E0E0 !default;
$dc-gray50: #D1D1D1 !default;
$dc-gray45: #BFBFBF !default;
$dc-gray40: #999999 !default;
$dc-gray30: #737373 !default;
$dc-gray20: #4C4C4C !default;
$dc-gray10: #262626 !default;
$dc-gray05: #161616 !default;

$dc-black: #000 !default;

//  = ACCENT COLORS
//  ---------------------------------------------------------------------------

// BLUE
$dc-blue80: #E6F1FD !default;
$dc-blue70: #CCE2FC !default;
$dc-blue60: #99C6F9 !default;
$dc-blue50: #66A9F7 !default;
$dc-blue45: #338DF4 !default;
$dc-blue40: #0071F2 !default;
$dc-blue30: #005AC1 !default;
$dc-blue20: #004391 !default;
$dc-blue10: #002D60 !default;
$dc-blue05: #00152E !default;

// CYAN
$dc-cyan80: #E6FBFC !default;
$dc-cyan70: #CDF8F9 !default;
$dc-cyan60: #9CF1F3 !default;
$dc-cyan50: #6BEBED !default;
$dc-cyan45: #09DEE2 !default;
$dc-cyan40: #08CED2 !default;
$dc-cyan30: #07B1B4 !default;
$dc-cyan20: #058587 !default;
$dc-cyan10: #03585A !default;
$dc-cyan05: #024243 !default;

// GREEN
$dc-green80: #E6FAEE !default;
$dc-green70: #CCF6DD !default;
$dc-green60: #99EDBB !default;
$dc-green50: #66E59A !default;
$dc-green45: #33DC78 !default;
$dc-green40: #00D457 !default;
$dc-green30: #00A945 !default;
$dc-green20: #007F34 !default;
$dc-green10: #005422 !default;
$dc-green05: #003F19 !default;

// YELLOW
$dc-yellow80: #FFFBE9 !default;
$dc-yellow70: #FFF6CA !default;
$dc-yellow60: #FFF1AF !default;
$dc-yellow50: #FFEC8E !default;
$dc-yellow45: #FFE24F !default;
$dc-yellow40: #EDD249 !default;
$dc-yellow30: #CCB43F !default;
$dc-yellow20: #99872F !default;
$dc-yellow10: #665A1F !default;
$dc-yellow05: #4C4317 !default;

// ORANGE
$dc-orange80: #FCF1E6 !default;
$dc-orange70: #FAE3CC !default;
$dc-orange60: #F5C799 !default;
$dc-orange50: #F0AB66 !default;
$dc-orange45: #EB8F33 !default;
$dc-orange40: #E67300 !default;
$dc-orange30: #B85C00 !default;
$dc-orange20: #8A4500 !default;
$dc-orange10: #5C2E00 !default;
$dc-orange05: #442200 !default;

// RED
$dc-red80: #FAEBEA !default;
$dc-red70: #F6D7D5 !default;
$dc-red60: #EDAFAB !default;
$dc-red50: #E48881 !default;
$dc-red45: #DB6057 !default;
$dc-red40: #D2392E !default;
$dc-red30: #A82D24 !default;
$dc-red20: #7E221B !default;
$dc-red10: #541612 !default;
$dc-red05: #320D0A !default;

// MAGENTA
$dc-magenta80: #FAEEF9 !default;
$dc-magenta70: #F5DDF3 !default;
$dc-magenta60: #ECBCE8 !default;
$dc-magenta50: #E39ADD !default;
$dc-magenta45: #DA79D2 !default;
$dc-magenta40: #D158C7 !default;
$dc-magenta30: #A7469F !default;
$dc-magenta20: #7D3477 !default;
$dc-magenta10: #53234F !default;
$dc-magenta05: #3E1A3B !default;

// PURPLE
$dc-purple80: #F1ECFF !default;
$dc-purple70: #E3D9FF !default;
$dc-purple60: #C7B4FF !default;
$dc-purple50: #AB8FFF !default;
$dc-purple45: #8F6AFF !default;
$dc-purple40: #7345FF !default;
$dc-purple30: #5C37CC !default;
$dc-purple20: #452999 !default;
$dc-purple10: #2E1B66 !default;
$dc-purple05: #22144C !default;

$dc-primary-accent: $dc-blue40 !default;
$dc-secondary-accent: $dc-orange40 !default;

$dc-debugmessage-color: rgba(255, 255, 0, .9) !default;

//  = SCAFFOLDING
//  ---------------------------------------------------------------------------

$dc-body-background-color: $dc-gray80 !default;
$dc-text-color: $dc-gray05 !default;

//  = LINKS
//  ---------------------------------------------------------------------------

$dc-link-color: $dc-primary-accent !default;
$dc-link-color-hover: $dc-blue50 !default;
$dc-link-color-active: $dc-blue30 !default;

//  = SPACING
//  ---------------------------------------------------------------------------

$dc-space50: .4rem !default;
$dc-space75: .8rem !default;
$dc-space100: 1.2rem !default;
$dc-space125: $dc-space75 * 2 !default;
$dc-space150: $dc-space100 * 2 !default;
$dc-space200: $dc-space100 * 3 !default;
$dc-space250: $dc-space100 * 4 !default;
$dc-space300: $dc-space100 * 5 !default;
$dc-space350: $dc-space100 * 6 !default;
$dc-touch-size: $dc-space50 * 11 !default;


//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

$dc-sans-font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$dc-serif-font-family: "Georgia", "Geneva", "Times New Roman", serif !default;
$dc-mono-font-family: "Fira Mono", "Monaco", "Consolas", "Courier New", monospace !default;

$dc-html-font-size: 62.5% !default;
$dc-html-line-height: 1 !default;
$dc-body-font-size: 1.6rem !default;
$dc-body-line-height: $dc-space150 !default;
$dc-base-font-family: $dc-sans-font-family !default;
$dc-alt-font-family: $dc-sans-font-family !default;

$dc-font50:  1.3rem !default;
$dc-font100: 1.6rem !default;
$dc-font150: 1.9rem !default;
$dc-font200: 2.3rem !default;
$dc-font250: 2.8rem !default;
$dc-font300: 3.3rem !default;

$dc-normal-font-weight: 400 !default;
$dc-bold-font-weight: 900 !default;

$dc-headings-font-family: $dc-sans-font-family !default;
$dc-headings-font-weight: $dc-bold-font-weight !default;
$dc-headings-color: $dc-text-color !default;

$dc-h1-size: $dc-font300 !default;
$dc-h2-size: $dc-font250 !default;
$dc-h3-size: $dc-font200 !default;
$dc-h4-size: $dc-font150 !default;

$dc-h1-line-height: 4.8rem !default;
$dc-h2-line-height: 3.6rem !default;
$dc-h3-line-height: 3.6rem !default;
$dc-h4-line-height: 2.4rem !default;


//  = BORDERS & RADII
//  ---------------------------------------------------------------------------

$dc-radius100: 2px !default;
$dc-radius50: 1px !default;
$dc-border50: 1px !default;
$dc-border100: 2px !default;
$dc-border150: 4px !default;

//  = BOX SHADOW
//  ---------------------------------------------------------------------------
$dc-box-shadow-color: rgba(0, 0, 0, .2) !default;
$dc-box-shadow100: 0 1px 1px $dc-box-shadow-color !default;

//  = Z-INDEX
//  ---------------------------------------------------------------------------
$dc-z-index100: 9999 !default;

//  = BREAKPOINTS
//  ---------------------------------------------------------------------------

// Base is 16px at this point

/// This bloats the CSS use only those which you need
///
/// small : 320px {Smartphones}
/// medium : 600px {Tablets}
/// large : 1024px {Desktops}
/// huge : 1280px {Full HD}

$dc-tiny-width: 0 !default;
$dc-small-width: 20em !default;
$dc-medium-width: 37.5em !default;
$dc-large-width: 64em !default;
$dc-huge-width: 80em !default;

/// Following two are kept for legacy reasons (to be deprecated).
$dc-giant-width: 80em !default;
$dc-monstrous-width: 100em !default;

/// @type Map | Length
$dc-breakpoints: (
    tiny: $dc-tiny-width,
    small: $dc-small-width,
    medium: $dc-medium-width,
    large: $dc-large-width,
    huge: $dc-huge-width
) !default;

//  = Atoms default
//  ---------------------------------------------------------------------------
$dc-tab-color : $dc-blue45;
