//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------

//  = PATHS
//  ---------------------------------------------------------------------------

$dc-font-path: "../fonts" !default;
$dc-image-path: "../img" !default;

//  = GRAYS
//  ---------------------------------------------------------------------------

$dc-white: #fff !default;

$dc-gray90: #FAFAFA !default;
$dc-gray80: #EDEDEC !default;
$dc-gray70: #E1E0DF !default;
$dc-gray60: #D8D7D6 !default;
$dc-gray50: #D0CFCD !default;
$dc-gray40: #ABAAA8 !default;
$dc-gray30: #858483 !default;
$dc-gray20: #5F5F5E !default;
$dc-gray10: #393938 !default;

$dc-black: #131313 !default;

//  = ACCENT COLORS
//  ---------------------------------------------------------------------------

// BLUE
$dc-blue90: #ECEEFB !default;
$dc-blue80: #B4BBF2 !default;
$dc-blue70: #7D88E9 !default;
$dc-blue60: #5866E3 !default;
$dc-blue50: #3344DD !default;
$dc-blue40: #2A38B5 !default;
$dc-blue30: #212C8D !default;
$dc-blue20: #181F65 !default;
$dc-blue10: #0E133D !default;

// CYAN
$dc-cyan90: #E8F9F8 !default;
$dc-cyan80: #A4E7E5 !default;
$dc-cyan70: #61D5D1 !default;
$dc-cyan60: #34C9C4 !default;
$dc-cyan50: #07BEB8 !default;
$dc-cyan40: #069C97 !default;
$dc-cyan30: #057976 !default;
$dc-cyan20: #045754 !default;
$dc-cyan10: #023433 !default;

// GREEN
$dc-green90: #EBF4E7 !default;
$dc-green80: #B0D4A2 !default;
$dc-green70: #75B35C !default;
$dc-green60: #4E9E2E !default;
$dc-green50: #278900 !default;
$dc-green45: #247D00 !default;
$dc-green40: #207100 !default;
$dc-green30: #195800 !default;
$dc-green20: #123F00 !default;
$dc-green10: #0B2600 !default;

// YELLOW
$dc-yellow90: #FFFBE7 !default;
$dc-yellow80: #FFF0A2 !default;
$dc-yellow70: #FFE65C !default;
$dc-yellow60: #FFDF2E !default;
$dc-yellow50: #FFD800 !default;
$dc-yellow40: #D1B100 !default;
$dc-yellow30: #A38A00 !default;
$dc-yellow20: #746300 !default;
$dc-yellow10: #463B00 !default;

// ORANGE
$dc-orange90: #FFF1E9 !default;
$dc-orange80: #FFC8A7 !default;
$dc-orange70: #FF9E65 !default;
$dc-orange60: #FF8339 !default;
$dc-orange50: #FF680D !default;
$dc-orange40: #D1560B !default;
$dc-orange30: #A34309 !default;
$dc-orange20: #743006 !default;
$dc-orange10: #461D04 !default;

// RED
$dc-red90: #FBECEA !default;
$dc-red80: #F0B4AE !default;
$dc-red70: #E47B72 !default;
$dc-red60: #DD564A !default;
$dc-red50: #D63122 !default;
$dc-red45: #C32D1F !default;
$dc-red40: #B0291C !default;
$dc-red30: #892016 !default;
$dc-red20: #621710 !default;
$dc-red10: #3B0E0A !default;

// MAGENTA
$dc-magenta90: #FAE8EF !default;
$dc-magenta80: #ECA6BF !default;
$dc-magenta70: #DE648F !default;
$dc-magenta60: #D5386F !default;
$dc-magenta50: #CC0C4F !default;
$dc-magenta40: #A70A41 !default;
$dc-magenta30: #820833 !default;
$dc-magenta20: #5D0624 !default;
$dc-magenta10: #380416 !default;

// PURPLE
$dc-purple90: #F2E8EE !default;
$dc-purple80: #CCA5BD !default;
$dc-purple70: #A7638D !default;
$dc-purple60: #8E366C !default;
$dc-purple50: #750A4C !default;
$dc-purple40: #60093F !default;
$dc-purple30: #4B0731 !default;
$dc-purple20: #360523 !default;
$dc-purple10: #200315 !default;

$dc-primary-accent: $dc-blue50 !default;
$dc-secondary-accent: $dc-orange50 !default;

$dc-debugmessage-color: rgba(255, 255, 0, .9) !default;

//  = SCAFFOLDING
//  ---------------------------------------------------------------------------

$dc-body-background-color: $dc-gray70 !default;
$dc-text-color: $dc-gray10 !default;

//  = LINKS
//  ---------------------------------------------------------------------------

$dc-link-color: $dc-primary-accent !default;
$dc-link-color-hover: $dc-blue30 !default;

//  = SPACING
//  ---------------------------------------------------------------------------

$dc-space50: .4rem !default;
$dc-space75: .8rem !default;
$dc-space100: 1.2rem !default;
$dc-space125: $dc-space75 * 2 !default;
$dc-space150: $dc-space100 * 2 !default;
$dc-space200: $dc-space100 * 3 !default;
$dc-space250: $dc-space100 * 4 !default;
$dc-space300: $dc-space100 * 5 !default;
$dc-space350: $dc-space100 * 6 !default;
$dc-touch-size: $dc-space50 * 11 !default;


//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

$dc-sans-font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$dc-serif-font-family: "Georgia", "Geneva", "Times New Roman", serif !default;
$dc-mono-font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace !default;

$dc-html-font-size: 62.5% !default;
$dc-html-line-height: 1 !default;
$dc-body-font-size: 1.4rem !default;
$dc-body-letter-spacing: 0.7px !default;
$dc-body-line-height: $dc-space150 !default;
$dc-base-font-family: $dc-sans-font-family !default;
$dc-alt-font-family: $dc-sans-font-family !default;

$dc-font50: 1.4rem !default;
$dc-font80: 1.5rem !default;
$dc-font100: 1.6rem !default;
$dc-font150: 1.8rem !default;
$dc-font200: 2.2rem !default;
$dc-font250: 2.7rem !default;
$dc-font300: 3.4rem !default;

$dc-light-font-weight: 300 !default;
$dc-normal-font-weight: 400 !default;
$dc-medium-font-weight: 500 !default;
$dc-bold-font-weight: 600 !default;

$dc-headings-font-family: $dc-sans-font-family !default;
$dc-headings-font-weight: $dc-normal-font-weight !default;
$dc-headings-color: $dc-text-color !default;

$dc-h1-size: $dc-font300 !default;
$dc-h2-size: $dc-font250 !default;
$dc-h3-size: $dc-font200 !default;
$dc-h4-size: $dc-font150 !default;

$dc-h1-line-height: 4.8rem !default;
$dc-h2-line-height: 3.6rem !default;
$dc-h3-line-height: 3.6rem !default;
$dc-h4-line-height: 2.4rem !default;


//  = BORDERS & RADII
//  ---------------------------------------------------------------------------

$dc-radius100: 2px !default;
$dc-radius101: 30px !default;
$dc-radius50: 1px !default;
$dc-border50: 1px !default;
$dc-border100: 2px !default;
$dc-border150: 4px !default;

//  = BOX SHADOW
//  ---------------------------------------------------------------------------
$dc-box-shadow-color: rgba(0, 0, 0, .2) !default;
$dc-box-shadow100: 0 1px 1px $dc-box-shadow-color !default;

//  = Z-INDEX
//  ---------------------------------------------------------------------------
$dc-z-index100: 9999 !default;

//  = BREAKPOINTS
//  ---------------------------------------------------------------------------

// Base is 16px at this point

// Feature phone: 0px
$dc-tiny-width: 0 !default;

// Smartphone: 320px
$dc-small-width: 20em !default;

// Smartphone landscape: 480px
$dc-medium-width: 30em !default;

// Tablet: 600px
$dc-large-width: 37.5em !default;

// Tablet landscape: 1024px
$dc-huge-width: 64em !default;

// Desktop: 1280px
$dc-giant-width: 80em !default;

// Desktop large: 1600px
$dc-monstrous-width: 100em !default;
