//  ---------------------------------------------------------------------------
//
//  Defines all Sass functions.
//
//  ---------------------------------------------------------------------------


//  = GENERIC DEBUG MESSAGE E.G. FOR MEDIA QUERIES
//  ---------------------------------------------------------------------------

	@mixin bs-debugmessage($message, $color: rgba(255,255,0, 0.9))
	{
		// margin-top: $bodyLineHeight;

		&::before
		{
			content:$message;

			display: block;
			position:fixed;
			right:0;
			top: 100%;
			left:0;
			z-index:910;
			height: $bodyLineHeight;

			background:#{$color};

			font-weight:$boldFontWeight;
			text-align:center;
			transition: transform .2s ease-out, opacity .2s;
			transform: translateY(100%);
			opacity: 0;
		}
	}
