// FIXME - XXX ? not documented

//  ---------------------------------------------------------------------------
//
//  Defines boxes
//
//  ---------------------------------------------------------------------------

//  = THE INVISIBLE BOX
//  ---------------------------------------------------------------------------

.dc-box {

    @extend %dc-cf;

    @include breakpoint($dc-large-width) {
        padding-right: $dc-space100;
        padding-left: $dc-space100;
    }

    @include breakpoint($dc-huge-width) {
        padding-right: $dc-space150;
        padding-left: $dc-space150;
    }
}

//  = THE STANDARD BOX
//  ---------------------------------------------------------------------------

.dc-box--card {
    @include bleed;
    margin-bottom: $dc-space150;
    padding-top: $dc-space100;
    padding-bottom: $dc-space100;
    background: $dc-white;
    box-shadow: $dc-box-shadow100;

    @include breakpoint($dc-large-width) {
        margin-right: 0;
        margin-left: 0;
        padding-right: $dc-space100;
        padding-left: $dc-space100;
        border-radius: 2px;
    }

    @include breakpoint($dc-huge-width) {
        padding: $dc-space150;
    }
}
