@mixin dc-accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin dc-accordion__item(
    $accordion-content-selector: "dc-accordion__content"
) {
    display: block;
    border-bottom: 1px solid $dc-gray70;
    background-color: $dc-white;
    padding-bottom: $dc-space100;

    &:hover {
        background-color: $dc-gray80;
    }

    .#{$accordion-content-selector} {
        height: 0;
    }
}

@mixin dc-accordion__item--is-open(
    $accordion-content-selector: "dc-accordion__content"
) {
    background-color: $dc-gray80;

    & > .#{$accordion-content-selector} {
        height: auto;
    }
}

@mixin dc-accordion__item--is-active {
    outline: 1px solid $dc-blue40;
}

@mixin dc-accordion__header {
    cursor: pointer;
    display: flex;
    padding: $dc-space100 $dc-space150 0;
}

@mixin dc-accordion__content {
    padding-right: $dc-space150;
    padding-left: $dc-space150;
    overflow: hidden;
}


@mixin dc-accordion-selectors {

    .dc-accordion {
        @include dc-accordion;
    }

    .dc-accordion__item {
        @include dc-accordion__item;
    }

    .dc-accordion__item--is-active {
        @include dc-accordion__item--is-active;
    }

    .dc-accordion__item--is-open {
        @include dc-accordion__item--is-open;
    }

    .dc-accordion__header {
        @include dc-accordion__header;
    }

    .dc-accordion__content {
        @include dc-accordion__content;
    }
}
