// @import "../core/core";

@mixin dc-btn {
    display: inline-block;
    border: 0;
    padding: $dc-space100 $dc-space125 $dc-space100 $dc-space125;
    border-radius: $dc-radius101;
    color: $dc-gray10;
    font-size: $dc-font80;
    font-weight: $dc-bold-font-weight;
    line-height: $dc-space100;
    text-align: center;
    background: $dc-gray70;
    letter-spacing: $dc-body-letter-spacing;
    text-decoration: none;
    text-transform: capitalize !important;
    cursor: pointer;
    vertical-align: top;

    &:focus {
        outline: none;
    }


    &:hover {
        outline: 0;
        background: $dc-gray30;
        color: $dc-white;
        text-decoration: none;
        box-shadow: 0 1px 1px rgba($dc-black, .2);
    }

    @content;
}

//  = LINK BUTTON
//  ---------------------------------------------------------------------------
@mixin _dc-btn--link-reset {
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    letter-spacing: 0.3px;
}

@mixin dc-btn--link {
    @include _dc-btn--link-reset;
    transition: color .1s linear;
    color: $dc-link-color;
    font-weight: normal;
    letter-spacing: 0.3px;

    &:hover {
        @include _dc-btn--link-reset;
        color: $dc-link-color-hover;
    }
}

@mixin dc-btn--link-destroy {
    @include _dc-btn--link-reset;
    transition: color .1s linear;
    color: $dc-red50;
    font-weight: normal;
    letter-spacing: 0.3px;

    &:hover {
        @include _dc-btn--link-reset;
        color: $dc-red20;
    }
}

@mixin dc-btn--link-disabled {
    @include _dc-btn--link-reset;
    color: $dc-gray60;
    font-weight: normal;
    letter-spacing: 0.3px;

    &:hover,
    &:active {
        border: 1px solid transparent;
    }
}

//  = PRIMARY
//  ---------------------------------------------------------------------------

@mixin dc-btn--primary {
  background: $dc-blue50;
  color: $dc-white;

    &:hover {
        background:darken($dc-blue20, 1);
        color: $dc-white;
    }
}

@mixin dc-btn--primary-2 {
    background: $dc-blue90;
    color: $dc-blue50;
    box-shadow:inset 0px 0px 0px 2px $dc-blue50;
    -webkit-box-shadow:inset 0px 0px 0px 2px $dc-blue50;
    -moz-box-shadow:inset 0px 0px 0px 2px $dc-blue50;

    &:hover {
        background:darken($dc-blue50, 1);
        color: $dc-white;
    }
}

//  = SECONDARY
//  ---------------------------------------------------------------------------

@mixin dc-btn--secondary {
  background: $dc-gray20;
  color: $dc-white;

    &:hover {
        background:darken($dc-black, 1);
        color: $dc-white;
    }
}

@mixin dc-btn--secondary-2 {
    background: $dc-gray80;
    color: $dc-black;
    box-shadow:inset 0px 0px 0px 2px $dc-gray20;
    -webkit-box-shadow:inset 0px 0px 0px 2px $dc-gray20;
    -moz-box-shadow:inset 0px 0px 0px 2px $dc-gray20;

    &:hover {
        background:darken($dc-gray20, 1);
        color: $dc-white;
    }
}

//  = TERTIARY
//  ---------------------------------------------------------------------------

@mixin dc-btn--tertiary {
  background: $dc-gray50;
  color: $dc-black;

    &:hover {
        background:darken($dc-gray20, 1);
        color: $dc-white;
    }
}

@mixin dc-btn--tertiary-2 {
    background: $dc-gray90;
    color: $dc-gray10;
    box-shadow:inset 0px 0px 0px 2px $dc-gray50;
    -webkit-box-shadow:inset 0px 0px 0px 2px $dc-gray50;
    -moz-box-shadow:inset 0px 0px 0px 2px $dc-gray50;

    &:hover {
        background:darken($dc-gray50, 1);
        color: $dc-black;
    }
}


//  = DESTROY
//  ---------------------------------------------------------------------------

@mixin dc-btn--destroy {
  background: $dc-red50;
  color: $dc-white;

    &:active {
        background:darken($dc-red20, 1);
        color: $dc-white;
    }

    &:hover {
        background: $dc-red30;
        color: $dc-white;
    }
}

@mixin dc-btn--destroy-2 {
    background: $dc-red90;
    color: $dc-red45;
    -webkit-box-shadow:inset 0px 0px 0px 2px $dc-red50;
    -moz-box-shadow:inset 0px 0px 0px 2px $dc-red50;
    box-shadow:inset 0px 0px 0px 2px $dc-red50;

    &:hover {
        background:darken($dc-red50, 1);
        color: $dc-white;
    }
}

//  = VALIDATION
//  ---------------------------------------------------------------------------

@mixin dc-btn--validation {
  background: $dc-green50;
  color: $dc-white;

    &:active {
        background: $dc-green50;
        color: $dc-white;
    }

    &:hover {
        background: $dc-green30;
        color: $dc-white;
    }
}

@mixin dc-btn--validation-2 {
    background: $dc-green90;
    color: $dc-green45;
    -webkit-box-shadow:inset 0px 0px 0px 2px $dc-green50;
    -moz-box-shadow:inset 0px 0px 0px 2px $dc-green50;
    box-shadow:inset 0px 0px 0px 2px $dc-green50;

    &:hover {
        background:darken($dc-green50, 1);
        color: $dc-white;
    }
}

//  = DISABLED
//  ---------------------------------------------------------------------------

@mixin dc-btn--disabled {
    background: $dc-gray70;
    color: $dc-gray40;
    box-shadow: none;
    pointer-events: none;
}

//  = ACTIVE
//  ---------------------------------------------------------------------------

@mixin dc-btn--active {
    background: $dc-gray70;
    box-shadow: inset 0 1px 1px rgba($dc-black, .3);

    &:hover {
      background: $dc-gray70;
      box-shadow: inset 0 1px 1px rgba($dc-black, .3);
      color: $dc-black;
      cursor: default;
    }
}

//  = SMALL BUTTON
//  ---------------------------------------------------------------------------

@mixin dc-btn--small {
    padding: $dc-space75 + .1 $dc-space125;
    font-size: $dc-font50;
    @content;
}

//  = INLINE BUTTON
//  -----------------------------------------------------------------------------
@mixin dc-btn--inline($sibling-selector: ".dc-btn--inline") {
    margin-bottom: 0;

    + #{$sibling-selector} {
        margin-left: .2rem; // Account for 4px inline margin
    }
}

//  = LARGE BUTTON
//  ---------------------------------------------------------------------------

@mixin dc-btn--large {
    padding: $dc-space125 $dc-space150 $dc-space125;
    font-size: $dc-font150;
    line-height: .8;

    @content;
}

//  = BLOCK BUTTON
//  ---------------------------------------------------------------------------

@mixin dc-btn--block {
    display: block;
    width: 100%;
}

//  = GROUPED BUTTON
//  ---------------------------------------------------------------------------

@mixin _dc-btn--grouped {
    margin-right: 0;
    margin-bottom: 0;
    border-left-width: 0;
    border-radius: 0;

    &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $dc-radius101;
        border-bottom-left-radius: $dc-radius101;
    }

    &:last-child {
        border-top-right-radius: $dc-radius101;
        border-bottom-right-radius: $dc-radius101;
    }
}

@mixin dc-btn-selectors {
    .dc-btn {  @include dc-btn;  }

    .dc-btn--link {  @include dc-btn--link;  }

    .dc-btn--link-destroy {  @include dc-btn--link-destroy;  }

    .dc-btn--primary {  @include dc-btn--primary;  }

    .dc-btn--primary-2 {  @include dc-btn--primary-2;  }

    .dc-btn--secondary {  @include dc-btn--secondary;  }

    .dc-btn--secondary-2 {  @include dc-btn--secondary-2;  }

    .dc-btn--tertiary {  @include dc-btn--tertiary;  }

    .dc-btn--tertiary-2 {  @include dc-btn--tertiary-2;  }

    .dc-btn--validation {  @include dc-btn--validation; }

    .dc-btn--validation-2 {  @include dc-btn--validation-2; }

    .dc-btn--destroy {  @include dc-btn--destroy; }

    .dc-btn--destroy-2 {  @include dc-btn--destroy-2; }

    .dc-btn--disabled { @include dc-btn--disabled; }

    .dc-btn--active { @include dc-btn--active; }

    .dc-btn--small {  @include dc-btn--small;  }

    .dc-btn--inline {  @include dc-btn--inline;  }

    .dc-btn--large {  @include dc-btn--large;  }

    .dc-btn--block {  @include dc-btn--block;  }

    // special case (usually this kind of selectors should be avoided)
    .dc-btn--link.dc-btn--disabled {  @include dc-btn--link-disabled;  }
}
