// @import "../core/core";

@mixin dc-checkbox($sibling-label-selector : ".dc-label") {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;

    + #{$sibling-label-selector} {
        display: inline-block;
        position: relative;
        margin-right: $dc-space150;
        margin-bottom: 0;
        padding-left: $dc-space200 - $dc-space75;
        cursor: pointer;

        &:before,
        &:after {
            position: absolute;
            top: .1rem;
            left: 0;
            width: 2rem;
            height: 2rem;
            // transition: box-shadow .2s ease-out;
            border: 1px solid $dc-gray45;
            border-radius: $dc-radius100;
            // scss-lint:disable ColorVariable
            background: #fff;
            // scss-lint:enable ColorVariable
            box-shadow: 0 0 0 0 rgba($dc-blue40, 1);
            content: " ";
        }

        &:after {
            top: .6rem;
            left: .5rem;
            width: 1rem;
            height: 1rem;
            transform: scale3d(.5, .5, 1);
            transition: transform .1s ease-in-out, opacity .2s linear;
            opacity: 0;
        }
    }

    &:focus + #{$sibling-label-selector}:before {
        transition: box-shadow .2s ease-out;
        border-color: $dc-blue40;
        box-shadow: 0 0 10px 8px rgba($dc-blue40, 0);
    }

    &:checked + #{$sibling-label-selector}:after {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    &[disabled] + #{$sibling-label-selector} {
        color: $dc-gray50;
        cursor: default;

        &:before,
        &:after {
            border-color: $dc-gray70;
        }

        &:after {
            // scss-lint:disable ImportantRule
            background: $dc-gray60 !important;
            // scss-lint:enable ImportantRule
        }
    }

    + #{$sibling-label-selector}:after {
        top: .5rem;
        left: .3rem;
        width: 2rem;
        height: 2rem;
        border: 0 none;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAxNiAxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9ImNoZWNrLWNvcHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zLjAwMDAwMCwgLTQuMDAwMDAwKSIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjMzM4REY0Ij4gICAgICAgICAgICA8cG9seWdvbiBpZD0iU2hhcGUiIHBvaW50cz0iOC4yNzE2MzQyOCAxOC41NiAxOSA1Ljc0MDI2NTIgMTYuOTIxNTkyOSA0IDguMjU5MDgyNDggMTQuNDIxNjgyNCA1LjA0MjM4NTg1IDEwLjczMzg4NTUgMyAxMi41MTYzMTAyIj48L3BvbHlnb24+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) no-repeat;
    }

    &[disabled] + #{$sibling-label-selector} {
        color: $dc-gray50;

        &:before,
        &:after {
            border-color: $dc-gray60;
        }

        &:after {
            // scss-lint:disable ImportantRule
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAxNiAxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9ImNoZWNrLWNvcHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zLjAwMDAwMCwgLTQuMDAwMDAwKSIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjRTBFMEUwIj4gICAgICAgICAgICA8cG9seWdvbiBpZD0iU2hhcGUiIHBvaW50cz0iOC4yNzE2MzQyOCAxOC41NiAxOSA1Ljc0MDI2NTIgMTYuOTIxNTkyOSA0IDguMjU5MDgyNDggMTQuNDIxNjgyNCA1LjA0MjM4NTg1IDEwLjczMzg4NTUgMyAxMi41MTYzMTAyIj48L3BvbHlnb24+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) no-repeat !important;
            // scss-lint:enable ImportantRule
        }
    }

    + #{$sibling-label-selector} {
        font-size: $dc-body-font-size;
        font-weight: $dc-normal-font-weight;
        line-height: $dc-space150;
        text-transform: none;
    }
}

@mixin dc-checkbox--alt($sibling-label-selector: ".dc-label") {
    + #{$sibling-label-selector} {
        padding-left: $dc-space200;
        line-height: $dc-space150;

        &:before,
        &:after {
            width: 2.6rem;
            height: 1.3rem;
            margin-top: .3rem;
            transition: background-color .3s linear,
            transform .1s cubic-bezier(.105, .420, .425, 1);
        }

        &:after {
            top: .2rem;
            left: .2rem;
            width: 1.1rem;
            height: 1.1rem;
            margin-top: .4rem;
            transform: scale3d(1, 1, 1);
            border-radius: 1px;
            background: $dc-gray50;
            opacity: 1;
        }
    }

    &:checked + #{$sibling-label-selector} {
        &:after {
            transform: translateX(1.3rem);
            transition: background-color .1s linear, transform .1s cubic-bezier(.105, .420, .425, 1);
            background: none;
            background-color: $dc-blue45;
        }
    }

    &[disabled] + #{$sibling-label-selector} {
        &:after {
            // scss-lint:disable ImportantRule
            background: none !important;
            background-color: $dc-gray60 !important;
            // scss-lint:enable ImportantRule
        }
    }

}

@mixin dc-checkbox-selectors {
    .dc-checkbox {
        @include dc-checkbox;
    }

    .dc-checkbox--alt {
        @include dc-checkbox--alt;
    }
}
