//  = DIVIDERS FOR BOXES
//  ---------------------------------------------------------------------------
.dc-divider {
    height: 1px;
    margin-bottom: $dc-space150;
    border: 0;
    background: $dc-gray60;
}
