// @import "../core/core";

@mixin dc-divider {
    height: 1px;
    margin-bottom: $dc-space150;
    border: 0;
    background: $dc-gray60;
}

@mixin dc-divider--secondary {
    background: $dc-gray70;
}

//  = DIVIDERS FOR BOXES
//  ---------------------------------------------------------------------------
@mixin dc-divider-selectors {
    .dc-divider {
        @include dc-divider;
    }

    .dc-divider--secondary {
        @include dc-divider--secondary;
    }
}

