// @import "../core/core";

//  = LINKS
//  ---------------------------------------------------------------------------
@mixin dc-link {
    transition: color .1s linear;
    color: $dc-link-color;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba($dc-black, 0);

    &:hover,
    &:active {
        color: $dc-link-color-hover;
        text-decoration: none;
    }
}

@mixin dc-link--destroy {
    &:hover,
    &:active {
        color: $dc-red40;
    }
}

@mixin dc-link--disabled {
    color: $dc-gray50;
    cursor: default;
    pointer-events: none;
}

@mixin dc-link-selectors {
    .dc-link {
        @include dc-link;
    }

    .dc-link--destroy {
        @include dc-link--destroy;
    }

    .dc-link--disabled {
        @include dc-link--disabled;
    }

}
