@import "../core/core";

//  = LISTS
//  ---------------------------------------------------------------------------
@mixin dc-list {
    padding-left: 3rem;
}

@mixin dc-list--is-reset {
    padding: 0;
    list-style-type: none;
}

@mixin dc-dt {
    font-family: $dc-base-font-family;
}


@mixin dc-list-selectors {
    .dc-list {
        @include dc-list;
    }

    .dc-list--is-reset {
        @include dc-list--is-reset;
    }

    .dc-dt {
        @include dc-dt;
    }
}
