// @import "../core/core";

@mixin dc-overlay {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s .2s cubic-bezier(.39, .58, .57, 1);
    background: rgba($dc-black, .6);
    opacity: 1;
    z-index: 0;
    perspective: 600px;
    pointer-events: none;
}

//  = DIVIDERS FOR BOXES
//  ---------------------------------------------------------------------------
@mixin dc-overlay-selectors {
    .dc-overlay {
        @include dc-overlay;
    }
}

