@import "../core/core";

//  = PLACEHOLDER
//  ---------------------------------------------------------------------------
@mixin dc-placeholder-selectors {
    // scss-lint:disable VendorPrefix
    ::-webkit-input-placeholder {
        color: $dc-gray50;
        font-weight: $dc-normal-font-weight;
    }

    :-moz-placeholder {
        color: $dc-gray50;
        font-weight: $dc-normal-font-weight;
    }

    ::-moz-placeholder {
        color: $dc-gray50;
        font-weight: $dc-normal-font-weight;
    }

    :-ms-input-placeholder {
        color: $dc-gray50;
        font-weight: $dc-normal-font-weight;
    }
    // scss-lint:enable VendorPrefix
}

