//  = RADIO BUTTON
//  ---------------------------------------------------------------------------

.dc-radio {
    display: none;

    + .dc-label {
        display: inline-block;
        position: relative;
        margin-right: $dc-space150;
        margin-bottom: $dc-space50;
        padding-left: $dc-space200 - $dc-space75;

        &:before,
        &:after {
            position: absolute;
            left: 0;
            width: 2rem;
            height: 2rem;
            border: 1px solid $dc-gray60;
            border-radius: $dc-radius100;
            // scss-lint:disable ColorVariable
            background: #fff;
            // scss-lint:enable ColorVariable
            content: " ";
        }

        &:after {
            top: .5rem;
            left: .5rem;
            width: 1rem;
            height: 1rem;
            transform: scale3d(.5, .5, 1);
            transition: transform .1s ease-in-out, opacity .2s linear;
            opacity: 0;
        }
    }

    &:checked + .dc-label:after {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    &[disabled] + .dc-label {
        color: $dc-gray50;

        &:before,
        &:after {
            border-color: $dc-gray70;
        }

        &:after {
            // scss-lint:disable ImportantRule
            background: $dc-gray60 !important;
            // scss-lint:enable ImportantRule
        }
    }
}

.dc-radio {

    + .dc-label:before,
    + .dc-label:after {
        border-radius: 50%;
    }

    + .dc-label:after {
        border-color: darken($dc-blue40, 5%);
    }

    &:checked + .dc-label:after {
        background: $dc-blue40;
    }

    + .dc-label {
        font-size: $dc-body-font-size;
        font-weight: $dc-normal-font-weight;
        line-height: $dc-space150 - .2;
        text-transform: none;
    }
}
