// @import "../core/core";

@mixin _before__background-color ($background-color) {
    &:before {
        background-color: $background-color;
    }
}

@mixin _dc-status {
    &:before {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: $dc-space75;
        border-radius: 2px;
        content: "";
    }
}

@mixin dc-status {
    @include _dc-status;
}

@mixin dc-status--active {
    @include _before__background-color($dc-green30);
}

@mixin dc-status--inactive {
    @include _before__background-color($dc-gray50);
}

@mixin dc-status--new {
    @include _before__background-color($dc-orange60);
}

@mixin dc-status--error {
    @include _before__background-color($dc-red50);
}

@mixin dc-status-selectors {

    .dc-status {
        @include dc-status;
    }

    .dc-status--active {
        @include dc-status--active;
    }

    .dc-status--inactive {
        @include dc-status--inactive;
    }

    .dc-status--new {
        @include dc-status--new;
    }

    .dc-status--error {
        @include dc-status--error;
    }
}
