@import "../atoms/btn";
@import "../atoms/icon";

//  = ICON BUTTONS
//  This module just add some dc-icon modifier
//  -----------------------------------------------------------------------------
@mixin dc-icon--btn {
    display: block;
    margin-top: .2rem;
    margin-right: 0;
    float: right;
    line-height: .8rem;
}

@mixin dc-icon--btn-small {
    font-size: 1.2rem;
    line-height: .8rem;
}

@mixin dc-icon--btn-large {
    margin-top: .4rem;
    font-size: 2.4rem;
    line-height: .6rem;
}

@mixin dc-btn-icon-selectors {

    .dc-icon--btn {  @include dc-icon--btn; }

    .dc-icon--btn-small {
        @include dc-icon--btn-small;
    }

    .dc-icon--btn-large {
        @include dc-icon--btn-large;
    }
}
