@import "../core/core";


@mixin dc-msg-selectors {
    .dc-dim {
        position: absolute;
        top: $dc-space200;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .1s linear;
        background: rgba($dc-black, .6);
        opacity: 0;
        pointer-events: none;
    }

    .dc-is-dimmed {
        .dc-dim {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .dc-msg {
        // position:absolute;
        // top:0;
        // right:0;
        // bottom:0;
        // left:0;
        // z-index:999;
        margin-bottom: $dc-space150;
        padding: $dc-space100 0;
        transition: transform .2s ease-out;
        // scss-lint:disable ColorVariable
        border: 1px solid #55b6fe;
        background: rgba(#cce9ff, .95);
        // scss-lint:enable ColorVariable
        color: $dc-blue20;
        font-size: $dc-font50;
        line-height: $dc-font100 + .2;
        // transform: translateY(-100%);

        @include breakpoint($dc-medium-width) {
            padding: $dc-space100;
        }
    }

    .dc-msg__inner {
        display: flex;
        flex: 0 1 auto;
        // max-width: 600px;
        // margin: 0 auto;
        align-items: center;
    }

    .dc-msg__icon {
        min-width: 4rem;
        height: 4rem;

        @include breakpoint($dc-medium-width) {
            margin-right: $dc-space100;
        }

        [class^="dc-font-icon"] {
            padding: 0 1rem;
            color: currentcolor;
            line-height: 4rem;
        }
    }

    .dc-msg__bd {
        flex: 1 1 auto;

        .dc-link {
            border-bottom: 1px solid currentColor;
            color: currentColor;

            &:hover {
                border-bottom: 1px dashed currentColor;
                color: currentColor;
            }
        }
    }

    .dc-msg__title {
        margin: 0;
        color: currentcolor;
        font-size: $dc-font100;
        font-weight: $dc-normal-font-weight;
        line-height: $dc-body-line-height;
    }

    .dc-msg__text {
        margin: 0;
    }

    .dc-msg__close {
        min-width: 4rem;
        cursor: pointer;

        [class^="dc-font-icon-close"] {
            padding: 0 1.5rem;
            color: currentcolor;
            line-height: 4rem;
        }

        &:active {
            transform: scale(.9);
        }
    }

    //  = INFO
    //  ---------------------------------------------------------------------------

    .dc-msg--info {
        border-color: darken($dc-blue70, 5%);
        background: rgba($dc-blue70, .5);
        color: $dc-blue20;

        .dc-font-icon-msg-info {
            color: $dc-blue40;
            font-size: 2.75rem;
        }

        .dc-msg__close {
            &:hover [class^="dc-font-icon-close"] {
                color: $dc-blue10;
            }
        }
    }

    //  = SUCCESS
    //  ---------------------------------------------------------------------------

    .dc-msg--success {
        // scss-lint:disable ColorVariable
        border-color: #84e440;
        background: rgba(#e3ffc7, .95);
        // scss-lint:enable ColorVariable
        color: $dc-green20;

        .dc-msg__title {
            color: $dc-green20;
        }

        .dc-font-icon-msg-success {
            color: $dc-green30;
            font-size: 2.2rem;
        }

        .dc-msg__close {
            &:hover [class^="dc-font-icon-close"] {
                color: $dc-green10;
            }
        }
    }

    //  = ERROR
    //  ---------------------------------------------------------------------------

    .dc-msg--error {
        border-color: darken($dc-red70, 5%);
        background: rgba(desaturate($dc-red70, 10%), .5);
        color: $dc-red20;

        .dc-font-icon-msg-error {
            color: $dc-red40;
            font-size: 1.8rem;
        }

        .dc-msg__close {
            &:hover [class^="dc-font-icon-close"] {
                color: $dc-red10;
            }
        }
    }

    //  = WARNING
    //  ---------------------------------------------------------------------------

    .dc-msg--warning {
        border-color: darken($dc-yellow70, 35%);
        background: rgba($dc-yellow70, .5);
        color: $dc-yellow20;

        .dc-font-icon-msg-warning {
            color: $dc-yellow30;
            font-size: 2.75rem;
        }

        .dc-msg__close {
            &:hover [class^="dc-font-icon-close"] {
                color: $dc-yellow10;
            }
        }
    }

    //  = ANIMATION
    //  ---------------------------------------------------------------------------

    .dc-msg--is-animating {
        animation: dc-notify 1.6s linear 1;
    }

    .dc-msg--is-animating-long {
        animation: dc-notify-long 6s linear 1;
    }

    @keyframes dc-notify {
        0% {
            transform: translateY(-100%);
        }

        10% {
            transform: translateY(0);
        }

        90% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100%);
        }
    }

    @keyframes dc-toparea {
        10% {
            -webkit-filter: blur(4px);
        }

        90% {
            -webkit-filter: blur(4px);
        }
    }

    @keyframes dc-notify-long {
        0% {
            transform: translateY(-100%);
        }

        1% {
            transform: translateY(0);
        }

        99% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100%);
        }
    }

    @keyframes dc-toparea-long {
        1% {
            -webkit-filter: blur(4px);
        }

        99% {
            -webkit-filter: blur(4px);
        }
    }

}
