// @import "./btn-group";

@mixin dc-pagination {
    @include dc-btn-group;
}

@mixin dc-pagination-btn {
    @include dc-btn--in-btn-group;

    background: $dc-white;
    color: $dc-blue40;
    cursor: pointer;

    &:hover {
        background: $dc-blue50;
        color: $dc-white;
    }

    &--active {
        padding-bottom: $dc-space75;
        border-bottom: 4px solid $dc-orange50;
    }

    &--active,
    &--disabled {
        color: $dc-gray20;
        cursor: default;

        &:hover {
            background: $dc-white;
            color: $dc-gray20;
            box-shadow: none;
        }
        .dc-icon--more:before {
          font-size: 3.5px;
        }
    }
}
.dc-pagination-txt {
  display: inline-block;
  border: 0;
  padding: $dc-space100 $dc-space50 $dc-space100 $dc-space100;
  border-radius: $dc-radius101;
  color: $dc-gray10;
  font-size: $dc-font80;
  font-weight: $dc-normal-font-weight;
  line-height: $dc-space100;
  text-align: center;
  background: $dc-white;
  letter-spacing: $dc-body-letter-spacing;
  text-decoration: none;
  text-transform: capitalize !important;
  vertical-align: top;
}
@mixin dc-pagination-selectors {

    .dc-pagination {
        @include dc-pagination;
    }

    .dc-pagination-btn {
        @include dc-pagination-btn;
    }
}
