.dc-has-tooltip[data-tooltip] {
    position: relative;

    &:before,
    &:after {
        position: absolute;
        transform: translateY(4px);
        transition: transform .3s .5s ease-out, opacity .2s .5s;
        content: " ";
        opacity: 0;
        pointer-events: none;
    }

    &:before {
        bottom: calc(100% + 12px);
        padding: .2rem $dc-space50;
        border-radius: 2px;
        background: rgba($dc-black, .7);
        color: $dc-white;
        line-height: $dc-body-line-height;
        content: attr(data-tooltip);
    }

    &:after {
        bottom: 100%;
        left: 20%;
        width: 0;
        height: 0;
        margin-left: -6px;
        border: solid transparent;
        border-width: 6px;
        border-color: rgba($dc-black, 0);
        border-top-color: rgba($dc-black, .7);
    }

    &:hover {
        &:before,
        &:after {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
