.f-color-chips {
	display: flex;
	flex-wrap: wrap;
}

.f-color-chip {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	border-top-width: 8em;
	border-top-style: solid;
	border-bottom-width: 0;
	border-bottom-style: solid;
	background-color: #fff;
	font-size: $dc-font50;
	padding: $dc-space50;
	margin-bottom: $dc-space100;
	line-height: $dc-space150;

	@media (min-width: 60em) {
		flex-basis: 0;
	}

	.f-color-chip__color {
		background-color: #fff;
		content: attr(data-color);
		font-family: $dc-mono-font-family;
		font-weight: $dc-normal-font-weight;
		color: $dc-gray40;
	}
}
