.headerlink{
	color:white;
	letter-spacing: $dc-body-letter-spacing;
	font-size: $dc-font200;
	padding-top: 1px;
	font-weight: 300;

	&:hover{color: $dc-orange50;}
}

.f-controls {
	@include clearfix;
	@include border-box;
		margin-bottom: $dc-space125;


	.f-control {
		display: block;
		float: right;
		text-align: center;
		width: 40px;
		color: white;
		margin-top: 32px;
		padding: 1rem 0;

		&.f-active {
			box-shadow: inset 0 -3px 0 0 $dc-orange50;

			use {
				fill: $dc-orange50;
			}

			&:hover {
				use {
					fill: $dc-orange50;
				}
			}
		}

		svg {
			vertical-align: middle;

			use {
				fill: $dc-gray40;
			}

			&:hover {
				use {
					fill: $dc-orange50;
				}
			}
		}
	}
}

.f-control {
	@include border-box;
	display: inline-block;
	cursor: pointer;
	margin-left: $dc-space100;

	&:first-child {
		margin-left: 0;
	}

	svg {
		width: $dc-space125;
		height: $dc-space125;

		use {
			fill: map-get($dc-colors, light);
		}

		&:active
		{
			transform: scale(.85);
		}
	}
}

.f-control-bar {
	@include clearfix;
	padding: 1rem 0;
}

.f-menu-toggle {
	cursor: pointer;
	vertical-align: middle;

    // menu icon
    i {
        display: inline-block;
        font-size: 2rem;
        padding-top: 0.5rem;

        &:hover {
            color: darken($dc-orange40, 10%);
        }
    }
}
