.f-controls {
	@include clearfix;
	@include border-box;
		margin-bottom: $dc-space125;
		border-bottom: 1px solid $dc-gray70;

	.f-control {
		display: block;
		float: left;
		text-align: center;
		width: percentage(1/3);
		margin: 0;
		padding: 1rem 0;

		&:hover {
			box-shadow: inset 0 -3px 0 0 $dc-blue50;

			svg {
				use {
						fill: $dc-blue50;
				}
			}
		}

		&.f-active {
			box-shadow: inset 0 -3px 0 0 $dc-blue50;

			use {
				fill: $dc-blue40;
			}

			&:hover {
				use {
					fill: $dc-blue50;
				}
			}
		}

		svg {
			vertical-align: middle;

			use {
				fill: $dc-blue40;
			}

			&:hover {
				use {
						fill: $dc-blue50;
				}
			}
		}
	}
}

.f-control {
	@include border-box;
	display: inline-block;
	cursor: pointer;
	margin-left: $dc-space150;

	&:first-child {
		margin-left: 0;
	}

	svg {
		width: $dc-space125;
		height: $dc-space125;

		use {
			fill: map-get($dc-colors, light);
		}
	}
}

.f-control-bar {
	@include clearfix;
	padding: 1rem 0;
}

.f-menu-toggle {
	cursor: pointer;
	vertical-align: middle;

    // menu icon
    i {
        display: inline-block;
        font-size: 2rem;
        padding-top: 0.5rem;

        &:hover {
            color: darken($dc-blue45, 10%);
        }
    }
}
