// This file is to hold exceptions and overrides needed to present elements in the styleguide
// but that should not be inside the final generated css

.f-item-preview {

    .dc-dialog {
        position: relative;
    }

    > .dc-btn, .dc-btn-dropdown {
        margin-bottom: $dc-space100;
    }

    .dc-toast-container--top, .dc-toast-container--bottom {
        position: relative;
    }
    .dc-toast--top, .dc-toast--bottom {
        animation: none;
    }

    .demo-wrapper {
        position: relative;
    }

    >div[class*="dc--island-"] {
        @include dc-demo-element;
        margin-bottom: $dc-space100;
    }
    .dc--text-left, .dc--text-center, .dc--text-right {
        @include dc-demo-element;
        margin-bottom: $dc-space100;
    }

    .dc-column__contents {
      @include dc-demo-element;
    }

    .dc-column__contents--center {
      text-align: center;
    }

    .dc-row{
      margin-bottom: 20px;
    }

    .dc-loading-bar {
        position: relative;
    }
}

.f-item-notes > ul:before {
    content: '';
    margin: 0;
}
