// This file is to hold exceptions and overrides needed to present elements in the styleguide
// but that should not be inside the final generated css

.f-item-preview {

    .dc-dialog {
        position: relative;
    }

    > .dc-btn, .dc-btn-dropdown {
        margin-bottom: $dc-space100;
    }

    .dc-toast-container--top, .dc-toast-container--bottom {
        position: relative;
    }
    .dc-toast--top, .dc-toast--bottom {
        animation: none;
    }

    .demo-wrapper {
        position: relative;
    }

    div[class*="dc--island-"] {
        margin-bottom: 2.2rem;
        border: 1px solid #26aafe;
        background: #75c6ff;
        color: #fff;
    }
    .dc--text-left, .dc--text-center, .dc--text-right {
        border: 1px solid #000;
    }
}

.f-item-preview .dc-loading-bar {
    position: relative;
}

.f-item-notes > ul:before {
    content: '';
    margin: 0;
}
