// This file is to hold exceptions and overrides needed to present elements in the styleguide
// but that should not be inside the final generated css

.f-item-preview {

    .dc-dialog {
        position: relative;
    }

    > .dc-btn, .dc-btn-dropdown {
        margin-bottom: $dc-space100;
    }

    .dc-dialog__overlay {
        opacity: 1;
        position: absolute;
    }

    .dc-toast-container--top, .dc-toast-container--bottom {
        position: relative;
    }
    .dc-toast--top, .dc-toast--bottom {
        animation: none;
    }
}

.f-item-preview .dc-loading-bar {
    position: relative;
}

.f-item-notes > ul:before {
    content: '';
    margin: 0;
}
