.f-item-preview {
  .dc-column__contents {
    border: 1px solid $dc-blue40;
    background: $dc-blue50;
    color: $dc-white;
  }

  .dc-column__contents--center {
    text-align: center;
  }
  .dc-row{
    margin-bottom: 20px;
  }
}
