//  = HEADER
//  ---------------------------------------------------------------------------

.f-header {
    display: flex;
    align-items: center;
    height: $dc-touch-size;
    padding: $dc-space75 $dc-space100;
    background: $dc-white;
    z-index: 900;

    .f-logo {
        max-height: $dc-touch-size - $dc-space150;
        padding-top: 1px;
        padding-left: 12px;
        padding-right: 8px;
        position: relative;


        //~ * {
        //    margin-left: $dc-space150;
        //}

    a {color: white;}
    }
}
