.f-item-group {
	@include clearfix;

	margin-bottom: $dc-space200;
	padding-bottom: $dc-space200;
	border-bottom: 1px solid map-get($dc-colors, light);

	&.f-item-grouped_groups {
		@include dc-card;
	}

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}

	& ~ & {
		margin-top: 0;

	}

	& > & {

		padding-bottom: $dc-space125;
		margin-bottom: $dc-space200;
		border-bottom: 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

// .f-item-code {
// 	margin-top: 2rem;
// }

.f-item-preview {
	@include clearfix;
}

.f-item-border-bottom {
	border-bottom: 1px solid map-get($dc-colors, light);
}

.f-item-heading-group {
	@include clearfix;
	vertical-align: middle;
}

h2.f-item-heading {
	@extend .dc-h2;
	margin-bottom: $dc-space150;
}

h3.f-item-heading {
	@extend .dc-h3;
	font-size: $dc-font100;
	line-height: 2.8rem;
	text-transform:uppercase;
	border-bottom:1px solid $dc-gray60;
	margin-bottom: $dc-space100;
	padding-bottom: $dc-space50;

	.sg-section__title + &
	{
		margin-top: $dc-space250;
	}
}

h4 { font-weight: $dc-headings-font-weight; }


.f-item-controls {
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin-left: $dc-space50;
	text-align: center;

	.f-control {
		width: 36px;
		height: 33px;
		display: block;
		float: left;

		use {
			fill: $dc-primary-accent;
		}

		&:hover {
			box-shadow: inset 0 -3px 0 $dc-blue50;
			use {
				fill: $dc-blue50;
			}
		}

		svg {
			width: 22px;
			height: 22px;

			&:active
			{
				transform: scale(.85);
			}
		}
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
	margin-bottom: $dc-space100;
	font-size: $dc-font100;
	color: $dc-gray20;

	> * {
		margin-bottom: 0;



		&:before
		{
			margin-right: $dc-space75;
		}
	}
}
