.f-item-group {
	@include clearfix;

	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid map-get($dc-colors, light);

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}

	& ~ & {
		margin-top: 0;

	}

	& > & {

		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	&[id]:before {
		content: '';
		margin-top: -50px;
		padding-top: 50px;
		display: block;
	}
}

// .f-item-code {
// 	margin-top: 2rem;
// }

.f-item-preview {
	@include clearfix;
}

.f-item-border-bottom {
	border-bottom: 1px solid map-get($dc-colors, light);
}

.f-item-heading-group {
	@include clearfix;
	vertical-align: middle;
}

h2.f-item-heading {
	@extend .dc-h2;
	margin-bottom: $dc-space150;
}

h3.f-item-heading {
	@extend .dc-h3;
	text-transform:uppercase;
	border-bottom:1px solid $dc-gray60;
	margin-bottom: $dc-space100;
	padding-bottom: 0.4rem;

	.sg-section__title + &
	{
		margin-top: $dc-space250;
	}
}

h4 { font-weight: 500; }


.f-item-controls {
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5rem;

	.f-control {
		width: 36px;
		height: 36px;
		display: block;
		float: left;

		use {
			fill: $dc-primary-accent;
		}

		&:hover {
			use {
				fill: darken($dc-primary-accent, 20%);
			}
		}

		svg {
			width: 22px;
			height: 22px;

			&:active
			{
				transform: scale(.85);
			}
		}
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
	margin-bottom: $dc-space100;
	font-size: $dc-font100;
	color: $dc-gray20;

	> * {
		margin-bottom: 0;



		&:before
		{
			margin-right: $dc-space75;
		}
	}
}
