html {
	height: 100%;
}

body {
	margin: 0;
	position: relative;
}

p {
    margin-top: 0;
    max-width: 52em;
}

a {
    @include dc-link;
}

.f-header {
	position: fixed;
	top: 0;
	right:0;
	left: 0;
	background-color: #111;
	color: white;
	z-index: 900;
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	margin-top: $dc-touch-size;
	z-index: 0;
	max-width: 850px;
	min-height: 100%;
	transition: transform .2s ease-out, padding .2s ease-out;

	.f-menu-active & {

		// Only push the content from huge size up
		@include breakpoint($dc-tiny-width)
		{
			margin-left: 0;
		}

		// Only push the content from huge size up
		@include breakpoint($dc-huge-width)
		{
			margin-left: 280px;
			transition: none;
		}

		@include breakpoint($dc-giant-width)
		{
			margin-left: 280px;
		}

		@include breakpoint($dc-monstrous-width)
		{
			margin-left: 280px;
		}
	}

}
