html {
	height: 100%;
}

body {
	margin: 0;
	position: relative;
}

.f-header {
	position: fixed;
	top: 0;
	right:0;
	left: 0;
	z-index: 900;
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	margin-top: $dc-touch-size;
	padding: $dc-space50;
	z-index: 0;
	min-height: calc(100vh - 4.4rem);
	transition: transform .2s ease-out, padding .2s ease-out;

	.f-menu-active & {

		// Only push the content from huge size up
		@include breakpoint($dc-tiny-width)
		{
			margin-left: 0;
		}

		// Only push the content from huge size up
		@include breakpoint($dc-huge-width)
		{
			margin-left: calc(#{span(2 of 12)} + #{gutter(6)});
			transition: none;
		}

		@include breakpoint($dc-giant-width)
		{
			margin-left: #{span(3 of 16)};
		}

		@include breakpoint($dc-monstrous-width)
		{
			margin-left: calc(#{span(3 of 20)});
		}
	}

	@include breakpoint($dc-large-width)
	{
		padding: $dc-space100;
	}

	@include breakpoint($dc-monstrous-width)
	{
		padding: $dc-space100 $dc-space150;
	}

	.dc-p {
		max-width: 52em;
	}

}
