// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: $dc-touch-size;
	left: 0;
	z-index: 1;
	width: calc(#{span(4 of 4)});
	height: 100%;
	padding-bottom: $dc-touch-size;
	background-color: map-get($dc-colors, menu-background);
	border-right: 1px solid $dc-gray60;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: transform .2s ease-out;
	-webkit-overflow-scrolling: touch;

	@media (min-width:$dc-tiny-width)
	{
		transform: translate(-100%, 0);
	}

	@media (min-width:$dc-small-width)
	{
		width: #{span(3 of 6)};
	}

	@media (min-width:$dc-medium-width)
	{
		width: calc(#{span(3 of 8)});
	}

	@media (min-width:$dc-large-width)
	{
		width: calc(#{span(2 of 12)} + #{gutter(6)});
		// Remove the max-width from here on and start by showing the menu
		max-width: none;
		transform: translate(-100%, 0);
	}

	@media (min-width:$dc-huge-width)
	{
		width: #{span(3 of 16)};
	}

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: $dc-space150;

		> li {
			margin-bottom: $dc-space125;
			padding-bottom: $dc-space125;
			border-bottom: 1px solid $dc-gray70;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: $dc-space50 $dc-space125;
		border: none;
		color: $dc-text-color;
		text-decoration: none;
		font-size: $dc-font100;
		line-height: 1.2;

		&:hover {
			border: none;
			color: $dc-blue50;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 $dc-blue50;
			color: $dc-blue40;
		}
	}

	.f-menu__heading {
		padding-left: 1.5rem;
		font-weight: 900;
		font-size: $dc-font100;
		text-transform: uppercase;

		&:hover {
			color: $dc-blue50;
		}

		&:active {
				color: $dc-link-color-active;
		}
	}
}

.f-menu a:hover
{
	color: $dc-blue50;
}

.f-menu a:active {
		color: $dc-link-color-active;
}
