// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: $dc-touch-size;
	left: 0;
	z-index: 1;
	width: calc(#{span(4 of 4)});
	height: 100%;
	padding-bottom: $dc-touch-size;
	background-color: map-get($dc-colors, menu-background);
	border-right: 1px solid $dc-gray60;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: transform .2s ease-out;
	-webkit-overflow-scrolling: touch;

	@include breakpoint($dc-tiny-width)
	{
		transform: translate(-100%, 0);
	}

	@include breakpoint($dc-small-width)
	{
		width: #{span(3 of 4)};
		// Define a max-width to avoid the menu being very large at the top end of certain MQ spans
		max-width: 24rem;
	}

	@include breakpoint($dc-medium-width)
	{
		width: #{span(3 of 6)};
	}

	@include breakpoint($dc-large-width)
	{
		width: calc(#{span(3 of 8)});
	}

	@include breakpoint($dc-huge-width)
	{
		width: calc(#{span(2 of 12)} + #{gutter(6)});
		// Remove the max-width from here on and start by showing the menu
		max-width: none;
		transform: translate(-100%, 0);
	}

	@include breakpoint($dc-giant-width)
	{
		width: #{span(3 of 16)};
	}

	@include breakpoint($dc-monstrous-width)
	{
		width: calc(#{span(3 of 20)});
	}

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: $dc-space150;

		> li {
			margin-bottom: $dc-space125;
			padding-bottom: $dc-space125;
			border-bottom: 1px solid $dc-gray70;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: $dc-space50 $dc-space125;
		color: $dc-gray20;
		text-decoration: none;
		font-size: $dc-font100;
		line-height: 1.2;

		&:hover {
			color: $dc-orange40;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 map-get($dc-colors, accent);
		}
	}

	.f-menu__heading {
		padding-left: 1.5rem;
		font-weight: 500;
		font-size: $dc-font100;
		text-transform: uppercase;

		&:hover {
			color: map-get($dc-colors, normal);
		}
	}
}

.f-menu a:active,
.f-menu a:hover
{
	background-color: lighten($dc-orange70, 12%);
	color: $dc-orange40;
}
