// menu
.f-menu {
	@include border-box;
	position: fixed;
	left: 0;
	padding-top: 10px;
	z-index: 1;
	width: 280px;
	height: 100%;
	padding-bottom: $dc-touch-size;
	background-color: $dc-gray10;
	overflow-x: scroll;
	overflow-y: scroll;
	transition: transform .2s ease-out;
	-webkit-overflow-scrolling: touch;

	@include breakpoint($dc-tiny-width)
	{
		transform: translate(-100%, 0);
	}



	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: $dc-space150;

		> li {
			margin-bottom: $dc-space125;
			padding-bottom: $dc-space125;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: $dc-space50 $dc-space125;
		color: $dc-gray90;
		text-decoration: none;
		line-height: 1.4;
		font-weight: 300;
		font-size: $dc-font100;
		letter-spacing: $dc-body-letter-spacing;

		&:hover {
			color: $dc-orange90;
			font-weight: 300;
			letter-spacing: $dc-body-letter-spacing;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 ($dc-orange50);
		}
	}

	.f-menu__heading {
		padding-left: 1.6rem;
		font-weight: 400;
		font-size: $dc-font150;

		&:hover {
			background-color: $dc-blue50;
			color: $dc-white;
			font-weight: 400;
		}
	}
}

.f-menu a:active,
.f-menu a:hover
{
	background-color: $dc-blue50;
	color: $dc-white;
}
