//  ---------------------------------------------------------------------------
//
//  Defines icon "grids" for the styleguide
//
//  ---------------------------------------------------------------------------

.sg-icon {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;

    i {
        font-size: 3rem;
    }
}
