//  ---------------------------------------------------------------------------
//
//  Defines color tiles in styleguide
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-color
		{
			display:inline-block;
		  position:relative;

			&:after
			{
				content:" ";
				display:block;
				padding-top:50%;
			}
		}

			.sg-color__inner
			{
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;

				.sg-color--blue10 &
				{
					background:$dc-blue10;
					color:$dc-white;
				}

				.sg-color--blue20 &
				{
					background:$dc-blue20;
					color:$dc-white;
				}

				.sg-color--blue30 &
				{
					background:$dc-blue30;
					color:$dc-white;
				}

				.sg-color--blue40 &
				{
					background:$dc-blue40;
					color:$dc-black;
				}

				.sg-color--blue50 &
				{
					background:$dc-blue50;
					color:$dc-black;
				}

				.sg-color--blue60 &
				{
					background:$dc-blue60;
					color:$dc-black;
				}

				.sg-color--blue70 &
				{
					background:$dc-blue70;
					color:$dc-black;
				}

				.sg-color--cyan10 &
				{
					background:$dc-cyan10;
					color:$dc-white;
				}

				.sg-color--cyan20 &
				{
					background:$dc-cyan20;
					color:$dc-white;
				}

				.sg-color--cyan30 &
				{
					background:$dc-cyan30;
					color:$dc-white;
				}

				.sg-color--cyan40 &
				{
					background:$dc-cyan40;
					color:$dc-black;
				}

				.sg-color--cyan50 &
				{
					background:$dc-cyan50;
					color:$dc-black;
				}

				.sg-color--cyan60 &
				{
					background:$dc-cyan60;
					color:$dc-black;
				}

				.sg-color--cyan70 &
				{
					background:$dc-cyan70;
					color:$dc-black;
				}

				.sg-color--green10 &
				{
					background:$dc-green10;
					color:$dc-white;
				}

				.sg-color--green20 &
				{
					background:$dc-green20;
					color:$dc-white;
				}

				.sg-color--green30 &
				{
					background:$dc-green30;
					color:$dc-white;
				}

				.sg-color--green40 &
				{
					background:$dc-green40;
					color:$dc-black;
				}

				.sg-color--green50 &
				{
					background:$dc-green50;
					color:$dc-black;
				}

				.sg-color--green60 &
				{
					background:$dc-green60;
					color:$dc-black;
				}

				.sg-color--green70 &
				{
					background:$dc-green70;
					color:$dc-black;
				}

				.sg-color--yellow10 &
				{
					background:$dc-yellow10;
					color:$dc-white;
				}

				.sg-color--yellow20 &
				{
					background:$dc-yellow20;
					color:$dc-white;
				}

				.sg-color--yellow30 &
				{
					background:$dc-yellow30;
					color:$dc-white;
				}

				.sg-color--yellow40 &
				{
					background:$dc-yellow40;
					color:$dc-black;
				}

				.sg-color--yellow50 &
				{
					background:$dc-yellow50;
					color:$dc-black;
				}

				.sg-color--yellow60 &
				{
					background:$dc-yellow60;
					color:$dc-black;
				}

				.sg-color--yellow70 &
				{
					background:$dc-yellow70;
					color:$dc-black;
				}

				.sg-color--orange10 &
				{
					background:$dc-orange10;
					color:$dc-white;
				}

				.sg-color--orange20 &
				{
					background:$dc-orange20;
					color:$dc-white;
				}

				.sg-color--orange30 &
				{
					background:$dc-orange30;
					color:$dc-white;
				}

				.sg-color--orange40 &
				{
					background:$dc-orange40;
					color:$dc-black;
				}

				.sg-color--orange50 &
				{
					background:$dc-orange50;
					color:$dc-black;
				}

				.sg-color--orange60 &
				{
					background:$dc-orange60;
					color:$dc-black;
				}

				.sg-color--orange70 &
				{
					background:$dc-orange70;
					color:$dc-black;
				}

				.sg-color--red10 &
				{
					background:$dc-red10;
					color:$dc-white;
				}

				.sg-color--red20 &
				{
					background:$dc-red20;
					color:$dc-white;
				}

				.sg-color--red30 &
				{
					background:$dc-red30;
					color:$dc-white;
				}

				.sg-color--red40 &
				{
					background:$dc-red40;
					color:$dc-black;
				}

				.sg-color--red50 &
				{
					background:$dc-red50;
					color:$dc-black;
				}

				.sg-color--red60 &
				{
					background:$dc-red60;
					color:$dc-black;
				}

				.sg-color--red70 &
				{
					background:$dc-red70;
					color:$dc-black;
				}

				.sg-color--magenta10 &
				{
					background:$dc-magenta10;
					color:$dc-white;
				}

				.sg-color--magenta20 &
				{
					background:$dc-magenta20;
					color:$dc-white;
				}

				.sg-color--magenta30 &
				{
					background:$dc-magenta30;
					color:$dc-white;
				}

				.sg-color--magenta40 &
				{
					background:$dc-magenta40;
					color:$dc-black;
				}

				.sg-color--magenta50 &
				{
					background:$dc-magenta50;
					color:$dc-black;
				}

				.sg-color--magenta60 &
				{
					background:$dc-magenta60;
					color:$dc-black;
				}

				.sg-color--magenta70 &
				{
					background:$dc-magenta70;
					color:$dc-black;
				}

				.sg-color--purple10 &
				{
					background:$dc-purple10;
					color:$dc-white;
				}

				.sg-color--purple20 &
				{
					background:$dc-purple20;
					color:$dc-white;
				}

				.sg-color--purple30 &
				{
					background:$dc-purple30;
					color:$dc-white;
				}

				.sg-color--purple40 &
				{
					background:$dc-purple40;
					color:$dc-black;
				}

				.sg-color--purple50 &
				{
					background:$dc-purple50;
					color:$dc-black;
				}

				.sg-color--purple60 &
				{
					background:$dc-purple60;
					color:$dc-black;
				}

				.sg-color--purple70 &
				{
					background:$dc-purple70;
					color:$dc-black;
				}

				.sg-color--gray10 &
				{
					background:$dc-gray10;
					color:$dc-white;
				}

				.sg-color--gray20 &
				{
					background:$dc-gray20;
					color:$dc-white;
				}

				.sg-color--gray30 &
				{
					background:$dc-gray30;
					color:$dc-white;
				}

				.sg-color--gray40 &
				{
					background:$dc-gray40;
					color:$dc-black;
				}

				.sg-color--gray50 &
				{
					background:$dc-gray50;
					color:$dc-black;
				}

				.sg-color--gray60 &
				{
					background:$dc-gray60;
					color:$dc-black;
				}

				.sg-color--gray70 &
				{
					background:$dc-gray70;
					color:$dc-black;
				}
			}

				.sg-color__label
				{
					position:absolute;
					right:0;
					bottom:0;
					left:0;
					padding: $dc-space100;
				}
