.sg-has-tooltip-section {
    @media (min-width: $dc-medium-width) {
        display: flex;
        flex-wrap: wrap;
    }

    .sg-has-tooltip-section__box  {

        @media (min-width: $dc-medium-width) {
            width: 33.33%;
            padding-right: $dc-space100;

            &:nth-child(3n) {
                padding-right: 0;
            }
        }
    }

    button {
        margin-bottom: $dc-space100;
    }
}
