//  ---------------------------------------------------------------------------
//
//  Defines a styleguide section
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-section
		{
			padding-top: $dc-space350;
			margin-bottom: $dc-space350;
		}

			.sg-section__title
			{
				@extend .dc-h1;

				font-weight:500;
				text-transform:uppercase;
			}

			.sg-section__sub-title
			{
				@extend .dc-h3;

				margin-top: $dc-space350;
				text-transform:uppercase;
				color:$dc-gray50;
				border-bottom:1px solid $dc-gray60;

				.sg-section__title + &
				{
					margin-top: $dc-space250;
				}
			}

			.sg-section__sub-section
			{
				margin-bottom: $dc-space100;
			}
