//  ---------------------------------------------------------------------------
//
//  Different kinds of brand logos
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.brand-logo
		{
			margin:0 auto;
			margin: $bs-space150 auto $bs-space200;
		}


//  = SIZES
//  ---------------------------------------------------------------------------

		.brand-logo--medium
		{
			max-width: 7.2;
		}


//  = GRID
//  ---------------------------------------------------------------------------

		.brands
		{
			@include display-flex(flex);
			@include flex-wrap(wrap);
			@include align-items(stretch);
			margin-left: -$bs-space100;
		}

			.brand
			{
				@include display-flex(flex);
				@include align-items(stretch);
				width:50%;
				margin-bottom: $bs-space150;
				padding-left: $bs-space100;

				> a
				{
					@include display-flex(flex);
					@include flex-direction(column);
					@include justify-content(center);

					padding: $bs-space150 $bs-space150 $bs-space100;
					border:1px solid transparent;
					border-radius: 2px;

					.no-touch &:hover
					{
						border-color:$bs-gray70;
					}
				}

				&:active
				{
					@include transform(scale(.85));
				}

				@include breakpoint(27em) // 432px
				{
					width:33.33%;
				}

				@include breakpoint($bs-large-width)
				{
					width:25%;
				}

				@include breakpoint(54em) // 866px
				{
					width:20%;
				}

				@include breakpoint($bs-huge-width)
				{
					> a
					{
						padding: $bs-space150 $bs-space200 $bs-space100;
					}
				}

				@include breakpoint($bs-giant-width)
				{
					> a
					{
						padding: $bs-space150 $bs-space250 $bs-space100;
					}
				}
			}

				.brand__img
				{
					// max-width: 13;
					margin-bottom: $bs-space150;
					@include flex(1 0 auto);
				}

				.brand__title
				{
					font-size: $bs-font50;
					line-height:1;
					text-align:center;
					text-transform:capitalize;
					color:$bs-gray50;

					.no-touch &
					{
						opacity:0;
						transition: opacity .1s linear;
					}

					.no-touch a:hover &
					{
						color:$bs-gray50;
						opacity:1;
					}
				}
