//  ---------------------------------------------------------------------------
//
//  Defines buttons
//
//  ---------------------------------------------------------------------------

//  = BASE
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn {
    display: inline-block;
    margin-right: $bs-space50;
    margin-bottom: $bs-space100;
    padding: $bs-space100 - .1 $bs-space100;
    line-height: $bs-space100;
    background: linear-gradient($bs-white, darken($bs-white, 7%));
    border: 1px solid $bs-gray50;
    border-radius: $bs-radius100;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: $bs-gray10;
    box-shadow: 0 1px 1px transparent;
    cursor: default;

    transition: box-shadow .2s linear, border-color .2s linear;

    &:focus {
        outline: 0;

        // TODO: Validate whether we need visible :focus
        // border-color:$bs-blue40;
    }
}

.no-touch .#{$bs-prefix}-btn:hover {
    box-shadow: 0 1px 1px rgba($bs-black, .2);
    background: linear-gradient($bs-white, darken($bs-white, 5%));
    color: $bs-gray10;
    text-decoration: none;
    outline: 0;
}

.touch .#{$bs-prefix}-btn:active,
.no-touch .#{$bs-prefix}-btn:active {
    background: darken($bs-white, 4%);
    box-shadow: inset 0 1px 1px rgba($bs-black, .1);
    color: $bs-gray10;
    text-decoration: none;
}

//  = ICON BUTTONS
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn--icon {
    padding: 0;
    width: $bs-touch-size;
    height: $bs-touch-size;

    svg {
        position: relative;
        top: -1px;
        left: -1px;
    }

    [stroke^='#'] {
        stroke: $bs-text-color;
    }

    [fill^='#'] {
        fill: $bs-text-color;
    }

    &.#{$bs-prefix}-btn--primary {
        [stroke^='#'] {
            stroke: $bs-white;
        }

        [fill^='#'] {
            fill: $bs-white;
        }
    }

    &.#{$bs-prefix}-btn--destroy:hover {
        [stroke^='#'] {
            stroke: $bs-white;
        }

        [fill^='#'] {
            fill: $bs-white;
        }
    }

    &.#{$bs-prefix}-btn--disabled {
        [stroke^='#'] {
            stroke: $bs-gray50;
        }

        [fill^='#'] {
            fill: $bs-gray50;
        }
    }
}

//  = PRIMARY
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn--primary {
    background: linear-gradient($bs-blue40, darken($bs-blue40, 7%));
    border-color: darken($bs-blue40, 7%);
    color: $bs-white;

    &:focus {
        // TODO: Validate whether we need visible :focus
        // border-color:$bs-blue20;
    }
}

.touch .#{$bs-prefix}-btn--primary:active,
.no-touch .#{$bs-prefix}-btn--primary:hover {
    background: lighten($bs-blue40, 3%);
    color: $bs-white;
}

//  = DESTROY
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn--destroy {
    transition: box-shadow .2s linear;
}

.touch .#{$bs-prefix}-btn--destroy:active,
.no-touch .#{$bs-prefix}-btn--destroy:hover {
    color: $bs-white;
    background: $bs-red50;
    border-color: $bs-red40;
}

//  = DISABLED
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn--disabled,
.touch .#{$bs-prefix}-btn--disabled:active,
.no-touch .#{$bs-prefix}-btn--disabled:hover {
    color: $bs-gray50;
    background: transparent;
    border-color: $bs-gray60;
    box-shadow: none;
}

//  = BUTTON GROUPS
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn-group {
    @extend .cf;

    .#{$bs-prefix}-btn {
        float: left;
        margin-right: 0;
        border-radius: 0;
        border-left: 0 none;

        &:first-child {
            border-radius: 2px 0 0 2px;
            border-left: 1px solid $bs-gray50;
        }

        &:last-child {
            border-radius: 0 2px 2px 0;
        }
    }

    .#{$bs-prefix}-btn--primary:first-child {
        border-left: 1px solid darken($bs-blue40, 7%);
    }
}

//  = CREATE PAGE
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn--create-page {
    display: none;

    @include breakpoint($bs-huge-width) {
        display: inline-block;
    }
}

//  = SMALL BUTTON
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-btn--small {
    padding: $bs-space50 $bs-space75;
    font-size: $bs-font50;
    text-transform: uppercase;
}

.#{$bs-prefix}-btn--inline {
    margin-bottom: 0;

    + .#{$bs-prefix}-btn--inline {
        margin-left: .2; // Account for 4px inline margin
    }
}
