//  ---------------------------------------------------------------------------
//
//  Defines bubble wrap!
//
//  ---------------------------------------------------------------------------


//  = BASE
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-bubble-wrap
		{
			position:relative;

			.#{$dc-prefix}-input
			{
				display:none;
			}

			.#{$dc-prefix}-bubble-wrap__inner
			{
				position:absolute;
				left: 6.5;
				z-index:999;
			}
		}

		.#{$dc-prefix}-bubble
		{
			position:absolute;
			top: $dc-space150;
			left: -17.2;
			padding: $dc-space50 $dc-space75;
			background:rgba(lighten($dc-black, 5%), .85);
			border-radius:2px;
			color:$dc-gray70;
			pointer-events:none;
			opacity:0;
			transform: translateY(-10%);
			transition: transform .3s ease-out, opacity .2s linear;

			&:after
			{
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(0, 0, 0, 0);
				border-bottom-color: rgba(lighten($dc-black, 5%), .85);
				border-width: 6px;
				margin-left: -6px;
			}
		}

		:checked + .#{$dc-prefix}-label .#{$dc-prefix}-bubble
		{
			opacity:1;
			transform: translateY(0);
		}

		.#{$dc-prefix}-bubble__bd
		{
			font-weight:300;
			text-transform:none;
		}
