//  ---------------------------------------------------------------------------
//
//  Defines dialogs
//
//  ---------------------------------------------------------------------------

//  = DIM
//  ---------------------------------------------------------------------------

.dc-dialog__overlay {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding: $dc-space100;
    transition: opacity .2s .2s cubic-bezier(.39, .58, .57, 1);
    background: rgba($dc-black, .6);
    opacity: 0;
    z-index: 999;
    perspective: 600px;
}


//  = BASE
//  ---------------------------------------------------------------------------

.dc-dialog {
    transform: rotateX(0deg) translateY(0) translateZ(0);
    transition: transform 2s cubic-bezier(.25, .46, .45, .94), opacity .2s cubic-bezier(.39, .58, .57, 1);
    border-radius: 2px;
    background: $dc-white;
    // scss-lint:disable ColorVariable
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    // scss-lint:enable ColorVariable

    .dc-dialog__body {
        padding: $dc-space150 $dc-space150 $dc-space100;
    }

    .dc-dialog__actions {
        padding: $dc-space150 $dc-space150 $dc-space100;
    }

}

.dc-dialog__close {
    margin-top: -1.6rem;
    margin-right: -1rem;
    float: right;

    [class^=dc-font-icon-] {
        color: $dc-gray30;
        font-size: 1.2rem;
    }

    .touch &:active,
    .no-touch &:active {
        transform: scale(.85);
    }
}

.dc-dialog__title {
    // scss-lint:disable PlaceholderInExtend
    @extend .dc-h3;
    // scss-lint:enable PlaceholderInExtend
    display: inline-block;
    margin: 0 0 $dc-space50;
    color: $dc-gray10;
    font-size: 22px;
    font-weight: 300;
}

.dc-dialog__subtitle {
    // scss-lint:disable PlaceholderInExtend
    @extend .dc-h4;
    // scss-lint:enable PlaceholderInExtend
    display: inline-block;
    margin: 0 0 $dc-space50;
    color: $dc-gray50;
    font-size: 1.4rem;
    font-weight: 300;
}



//  = ACTIONS
//  ---------------------------------------------------------------------------

.dc-dialog__actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $dc-gray60;
    border-radius: 0 0 $dc-radius100 $dc-radius100;
    background: $dc-gray70;

    .dc-link {
        // Ensure links align and space to buttons correctly;
        display: block;
        margin: 0 $dc-space100;
        padding: $dc-space75 0;
    }

}
