//  ---------------------------------------------------------------------------
//
//  Defines dialogs
//
//  ---------------------------------------------------------------------------


//  = DIM
//  ---------------------------------------------------------------------------

		.#{$bs-prefix}-dim-dialog
		{
			display: flex;
			justify-content: center;
			align-items: center;
			position:fixed;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index:999;
			padding: $bs-space100;
			background:rgba($bs-black, .6);
			opacity:0;
			pointer-events:none;
			transition: opacity .2s .2s cubic-bezier(0.39, 0.58, 0.57, 1);
			perspective: 600px;
		}

		.#{$bs-prefix}-is-dimmed-dialog
		{
			.#{$bs-prefix}-dim-dialog
			{
				opacity:1;
				pointer-events:auto;
				transition: opacity .2s cubic-bezier(0.39, 0.58, 0.57, 1);
			}

			.#{$bs-prefix}-dialog
			{
				box-shadow:0 1px 1px rgba(0,0,0,.2);
				opacity:1;
				transform: rotateX(0) translateY(0) translateZ(0);
				transition: transform .3s .2s cubic-bezier(0.24, 1.01, 0.43, 1.18), opacity .2s .2s cubic-bezier(0.39, 0.58, 0.57, 1);
			}
		}


//  = BASE
//  ---------------------------------------------------------------------------

		.#{$bs-prefix}-dialog
		{
			background:$bs-white;
			border-radius:2px;
			box-shadow:0 5px 10px rgba(0,0,0,.2);
			opacity:0;
			transform: rotateX(-30deg) translateY(50px) translateZ(-100px);
			transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .2s cubic-bezier(0.39, 0.58, 0.57, 1);
		}

		.#{$bs-prefix}-dialog__close
		{
			display:block;
			float:right;
			margin: -1.4 -1.4 0 0;

			.touch &:active,
			.no-touch &:hover
			{
				[fill^='#']
				{
					fill:$bs-blue30;
				}
			}

			.touch &:active,
			.no-touch &:active
			{
				transform: scale(.85);
			}
		}

		.#{$bs-prefix}-dialog__title
		{
			@extend .h3;
		}

		.#{$bs-prefix}-dialog__bd,
		.#{$bs-prefix}-dialog__actions
		{
			padding: $bs-space150 $bs-space150 0;
		}


//  = ACTIONS
//  ---------------------------------------------------------------------------

		.#{$bs-prefix}-dialog__actions
		{
			display: flex;
			justify-content: flex-end;
			background:$bs-gray70;
			border-top:1px solid $bs-gray60;
			border-radius:0 0 2px 2px;
		}

		.#{$bs-prefix}-dialog__primary
		{
			margin-bottom: $bs-space150;
		}

		.#{$bs-prefix}-dialog__secondary
		{
			margin-right: $bs-space150;
			line-height: $bs-touch-size;
		}
