//  ---------------------------------------------------------------------------
//
//  Flexbox grid utilities
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

.l-fgrid
{
	display: flex;

	> .l-fcell
	{
		flex: 1;
	}

	> div
	{
		transition: all .3s ease-out;
	}
}
