//  ---------------------------------------------------------------------------
//
//  Defines the grid and its behaviour
//  on different breakpoints.
//
//	Breakpoints:   0px ->  1 column
//				 320px ->  4 columns
//				 480px ->  8 columns
//				 600px -> 12 columns
//				1024px -> 16 columns
//				1280px -> 16 columns (= max-width)
//
//  ---------------------------------------------------------------------------

//  = GRID SETTINGS
//  ---------------------------------------------------------------------------

// Base is 10px at this point

// Relative column & gutter width
$dc-r-column-width: 6 !default;
$dc-r-gutter-width: 4 !default;
$dc-r-grid-padding: 8 !default;
$dc-r-grid-padding-large: 4 !default;
$dc-r-grid-padding-huge: 5 !default;

// Columns for smallest screen
$dc-total-columns: 2 !default;

// Column & gutter width in em (susy needs em)
$dc-column-width: convert-length($dc-r-column-width, em, $dc-body-font-size) !default;
// convert to em
$dc-gutter-width: convert-length($dc-r-gutter-width, em, $dc-body-font-size) !default;
// convert to em
$dc-grid-padding: convert-length($dc-r-grid-padding, em, $dc-body-font-size) !default;
// convert to em
$dc-grid-padding-large: convert-length($dc-r-grid-padding-large, em, $dc-body-font-size) !default;
// convert to em
$dc-grid-padding-huge: convert-length($dc-r-grid-padding-huge, em, $dc-body-font-size) !default;
// convert to em

$dc-container-style: fluid !default;

//  = BREAKPOINTS
//  ---------------------------------------------------------------------------

// Feature phone: 0px  2 columns --> 0-UP
$dc-tiny-width: 0;
$dc-tiny-cols: 2;
$dc-tiny-layout: (
    container: calc(100% - 16px),
    columns: 2,
    gutters: .1
);

// Smartphone: 320px 4 columns --> 320-UP
$dc-small-width: 20em;
$dc-small-cols: 4;
$dc-small-layout: (
    container: calc(100% - 24px),
    columns: 4,
    gutters: .25
);

// Smartphone landscape	: 480px 6 columns -->  480-UP
$dc-medium-width: 30em;
$dc-medium-cols: 6;
$dc-medium-layout: (
    container: calc(100% - 24px),
    columns: 6,
    gutters: .25
);

// From large: fluid, max-width 700px 80px grid-padding
// Font size maybe 22px or perhaps micro breakpoint with 22px from 768px
// Tablet : 600px, 8 columns -->  600-UP
$dc-large-width: 37.5em;
$dc-large-cols: 8;
$dc-large-layout: (
    container: calc(100% - 48px),
    columns: 8,
    gutters: .25
);

// Tablet landscape		: 1024px 	12 columns 	--> 1024-UP
$dc-huge-width: 64em;
$dc-huge-cols: 12;
$dc-huge-layout: (
    container: calc(100% - 48px),
    columns: 12,
    gutters: .25
);

// Desktop 				: 1280px 	16 columns 	--> 1280-UP
$dc-giant-width: 80em;
$dc-giant-cols: 16;
$dc-giant-layout: (
    container: calc(100% - 48px),
    columns: 16,
    gutters: .25
);

// Desktop large 		: 1600px 	20 columns 	--> 1600-UP
$dc-monstrous-width: 100em;
$dc-monstrous-cols: 20;
$dc-monstrous-layout: (
    container: calc(100% - 96px),
    columns: 20,
    gutters: .25
);

//  = BREAKPOINTS
//  ---------------------------------------------------------------------------

.dc-body {
    @include dc-debugmessage("Tiny \2014 0-320px", $dc-red60);

    @include breakpoint($dc-small-width) {
        @include dc-debugmessage("Small \2014 320-480px", $dc-orange60);
    }

    @include breakpoint($dc-medium-width) {
        @include dc-debugmessage("Medium \2014 480-600px", $dc-yellow60);
    }

    @include breakpoint($dc-large-width) {
        @include dc-debugmessage("Large \2014 600-1024px", $dc-green60);
    }

    @include breakpoint($dc-huge-width) {
        @include dc-debugmessage("Huge \2014 1024-1280px", $dc-cyan60);
    }

    @include breakpoint($dc-giant-width) {
        @include dc-debugmessage("Giant \2014 1280-1600px", $dc-blue60);
    }

    @include breakpoint($dc-monstrous-width) {
        @include dc-debugmessage("Monstrous \2014 1600px and up", $dc-purple60);
    }
}

.dc-is-show-breakpoints .dc-body {
    &::before {
        transform: translateY(-100%);
        opacity: 1;
    }
}

.dc-is-show-grid .dc-grid {
    position: fixed;
    top: $dc-touch-size;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: 909;
    pointer-events: none;

    // scss-lint:disable DeclarationOrder
    @include container($dc-tiny-layout debug image show);

    //  = 320-UP
    //  ---------------------------------------------------------------------------

    @include breakpoint($dc-small-width) {
        @include container($dc-small-layout debug image show);
    }

    //  = 480-UP
    //  ---------------------------------------------------------------------------

    @include breakpoint($dc-medium-width) {
        @include container($dc-medium-layout debug image show);
    }

    //  = 600-UP
    //  ---------------------------------------------------------------------------

    @include breakpoint($dc-large-width) {
        @include container($dc-large-layout debug image show);
    }

    //  = 1024-UP
    //  ---------------------------------------------------------------------------

    @include breakpoint($dc-huge-width) {
        @include container($dc-huge-layout debug image show);
    }

    //  = 1280-UP
    //  ---------------------------------------------------------------------------

    @include breakpoint($dc-giant-width) {
        @include container($dc-giant-layout debug image show);
    }

    //  = 1600-UP
    //  ---------------------------------------------------------------------------

    @include breakpoint($dc-monstrous-width) {
        @include container($dc-monstrous-layout debug image show);
    }
    // scss-lint:enable DeclarationOrder
}
