//  ---------------------------------------------------------------------------
//
//  Simple header
//
//  ---------------------------------------------------------------------------

$bs-header-height: $bs-touch-size;
$bs-header-accent-color: $bs-orange40;



//  = HEADER
//  ---------------------------------------------------------------------------

		.#{$bs-prefix}-header
		{
			display: flex;
			align-items: center;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 900;
			height: $bs-header-height;
			padding: $bs-space75 $bs-space100;
			background: $bs-white;
			border-bottom: 1px solid $bs-gray60;

			.#{$bs-prefix}-logo
			{
				padding-bottom: 2px;
				max-height: $bs-touch-size - $bs-space150;
			}
		}
