//  ---------------------------------------------------------------------------
//
//  HEADLINE MODULE
//
//  ---------------------------------------------------------------------------


//  = BASE
//  ---------------------------------------------------------------------------

		.m--headline
		{
			margin:0;
			padding: $bs-space100 0;
			border-bottom:$bs-border100 solid $bs-text-color;
			font-size: 1.8;
			line-height:1.3;
			letter-spacing:4px;
			font-weight:400;
			text-transform:uppercase;
			text-align:center;
		}
