//  ---------------------------------------------------------------------------
//
//  Common base styles for brand shop modules
//
//  ---------------------------------------------------------------------------

		$bs-mColor: $bs-blue50;
		$bs-mBorder: $bs-border100;



//  = BASE
//  ---------------------------------------------------------------------------

		.m
		{
			position:relative;

			* { font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif; }

			&:before
			{
				content:" ";
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				border:$bs-mBorder solid transparent;
				pointer-events:none;
			}

			&:hover
			{
				&:before
				{
					border-color:$bs-mColor;
				}

				.m__actions
				{
					@include display-flex(flex);
				}
			}
		}

		.m__actions
		{
			display:none;
			position:absolute;
			bottom:100%;
			left:0;
			margin:0;
		}

		.m__action
		{
			padding: 0 $bs-space50;
			background:$bs-mColor;
			font-size: $bs-font50;
			font-weight:$bs-bold-font-weight;
			text-transform:uppercase;
			color:$bs-white;
			cursor:pointer;

			& + .m__action
			{
				border-left:1px solid lighten($bs-mColor, 15%);
			}

			&:hover
			{
				background:darken($bs-mColor, 10%);
			}
		}



//  = SIDEBAR DRAGGABLE MODULE REPRESENTATION
//  ---------------------------------------------------------------------------

		.m--mini
		{
			background:$bs-white;
			text-align:center;
			border-radius:2px;
			box-shadow:0 1px 1px rgba(0,0,0,.2);
		}
