//  ---------------------------------------------------------------------------
//
//  Defines the brand portal messages
//
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-dim
		{
			position:absolute;
			top: $dc-space200;
			right:0;
			bottom:0;
			left:0;
			background:rgba($dc-black, .6);
			opacity:0;
			pointer-events:none;
			transition: opacity .1s linear;
		}

		.#{$dc-prefix}-is-dimmed
		{
			.#{$dc-prefix}-dim
			{
				opacity:1;
				pointer-events:auto;
			}
		}

		.#{$dc-prefix}-msg
		{
			// position:absolute;
			// top:0;
			// right:0;
			// bottom:0;
			// left:0;
			// z-index:999;
			margin-bottom: $dc-space150;
			padding: $dc-space100 0;
			background:rgba(#CCE9FF, .95);
			border:1px solid #55B6FE;
			font-size: $dc-font50;
			line-height: $dc-font100 + .2;
			color: $dc-blue20;
			// transform: translateY(-100%);
			transition: transform .2s ease-out;

			@include breakpoint($dc-medium-width)
			{
				padding: $dc-space100;
			}
		}

		.#{$dc-prefix}-msg__inner
		{
			display: flex;
			flex: 0 1 auto;
			// max-width: 600px;
			// margin: 0 auto;
		}

		.#{$dc-prefix}-msg__icon
		{
			@include breakpoint($dc-medium-width)
			{
				margin-right: $dc-space100;
			}
		}
		.#{$dc-prefix}-msg__icon i {
			font-size: 2rem;
		}

		.#{$dc-prefix}-msg__bd
		{
			flex: 1 1 auto;

			.#{$dc-prefix}-link
			{
				border-bottom: 1px solid currentColor;
				color: currentColor;

				&:hover
				{
					border-bottom: 1px dashed currentColor;
					color: currentColor;
				}
			}
		}

		.#{$dc-prefix}-msg__title
		{
			margin: 0;
			font-size: $dc-font100;
			font-weight: $dc-normal-font-weight;
			line-height: $dc-body-line-height;
			color: $dc-blue20;
		}

		.#{$dc-prefix}-msg__text
		{
			margin: 0;
		}

		.#{$dc-prefix}-msg__close .#{$dc-prefix}-svg
		{
			cursor: pointer;

			[fill^='#']
			{
				fill:$dc-blue30;
			}

			&:hover
			{
				[fill^='#']
				{
					fill:$dc-blue20;
				}
			}

			@include breakpoint($dc-medium-width)
			{
				margin-left: $dc-space100;
			}
		}



//  = SUCCESS
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-msg--success
		{
			background: rgba(#E3FFC7, .95);
			border-color: #84E440;
			color: $dc-green20;

			.#{$dc-prefix}-msg__title
			{
				color:$dc-green20;
			}

			.#{$dc-prefix}-msg__close .#{$dc-prefix}-svg
			{
				cursor: pointer;

				[fill^='#']
				{
					fill:$dc-green20;
				}

				&:hover
				{
					[fill^='#']
					{
						fill:$dc-green10;
					}
				}
			}
		}



//  = ERROR
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-msg--error
		{
			background:rgba(desaturate($dc-red70, 10%), .5);
			border-color:darken($dc-red70, 5%);
			color:$dc-red20;

			.#{$dc-prefix}-msg__title
			{
				color:$dc-red20;
			}

			.#{$dc-prefix}-msg__close .#{$dc-prefix}-svg
			{
				cursor: pointer;

				[fill^='#']
				{
					fill:$dc-red20;
				}

				&:hover
				{
					[fill^='#']
					{
						fill:$dc-red10;
					}
				}
			}
		}



//  = WARNING
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-msg--warning
		{
			background:rgba($dc-yellow70, .5);
			border-color:darken($dc-yellow70, 35%);
			color:$dc-yellow20;

			.#{$dc-prefix}-msg__title
			{
				color:$dc-yellow20;
			}

			.#{$dc-prefix}-msg__close .#{$dc-prefix}-svg
			{
				cursor: pointer;

				[fill^='#']
				{
					fill:$dc-yellow20;
				}

				&:hover
				{
					[fill^='#']
					{
						fill:$dc-yellow10;
					}
				}
			}
		}



//  = INFO
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-msg--info
		{
			background:rgba($dc-blue70, .5);
			border-color:darken($dc-blue70, 5%);
			color:$dc-blue20;
		}



//  = ANIMATION
//  ---------------------------------------------------------------------------

		.#{$dc-prefix}-msg--is-animating
		{
			animation: #{$dc-prefix}-notify 1.6s linear 1;
		}

		.#{$dc-prefix}-msg--is-animating-long
		{
			animation: #{$dc-prefix}-notify-long 6s linear 1;
		}

		@keyframes #{$dc-prefix}-notify
		{
			0%
			{
				transform: translateY(-100%);
			}

			10%
			{
				transform: translateY(0);
			}

			90%
			{
				transform: translateY(0);
			}

			100%
			{
				transform:translateY(-100%);
			}
		}

		@keyframes #{$dc-prefix}-toparea
		{
			10%
			{
				-webkit-filter:blur(4px);
			}

			90%
			{
				-webkit-filter:blur(4px);
			}
		}

		@keyframes #{$dc-prefix}-notify-long
		{
			0%
			{
				transform: translateY(-100%);
			}

			1%
			{
				transform: translateY(0);
			}

			99%
			{
				transform: translateY(0);
			}

			100%
			{
				transform: translateY(-100%);
			}
		}

		@keyframes #{$dc-prefix}-toparea-long
		{
			1%
			{
				-webkit-filter:blur(4px);
			}

			99%
			{
				-webkit-filter:blur(4px);
			}
		}
