//
//
// THIS FILE IS DEPRECATED AND ACTUALLY EXCLUDED FROM MAIN (toolkit.scss)
// TODO: XXX
//
//

//  ---------------------------------------------------------------------------
//
//  Defines the layout side flyout nav
//
//  ---------------------------------------------------------------------------

$dc-nav-height-huge: 3;
$dc-nav-accent-color: $dc-orange40;

//  = HEADER
//  ---------------------------------------------------------------------------

.dc-p-header {
    position: relative;
    margin-bottom: $dc-space150;

    a {
        transition: color .2s linear, background-color .2s linear;
        color: $dc-text-color;
    }

    .dc-svg {
        transform-origin: 50% 50%;

        &:active {
            transform: scale(.85);
        }
    }

    .dc-svg:hover,
    .dc-svg:active {
        [fill^='#'] {
            fill: $dc-orange40;
        }

        [stroke^='#'] {
            stroke: $dc-orange40;
        }
    }
}

.dc-p-header--styleguide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.touch .dc-p-header a:active,
.no-touch .dc-p-header a:hover {
    text-decoration: none;
}

//  = TOP AREA INSIDE HEADER
//  ---------------------------------------------------------------------------

.dc-top-area {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: $dc-touch-size;
    border-bottom: 1px solid $dc-gray60;
    background-color: $dc-white;

    @include breakpoint($dc-huge-width) {
        padding-left: $dc-space100;
    }
}

.dc-nav-main-toggle {
    @include breakpoint($dc-huge-width) {
        display: none;
    }

    &:hover svg {
        [fill^='#'] {
            fill: $dc-orange40;
        }

        [stroke^='#'] {
            stroke: $dc-orange40;
        }
    }

    &:active {
        transform: scale(.85);
    }
}

.dc-is-admin .dc-l-logo {
    display: none;

    @include breakpoint($dc-large-width) {
        display: block;
    }
}

.dc-l-logo {
    display: none;
    flex: 1 0 auto;
    order: 2;
    margin: 0 $dc-space100;
    font-size: $dc-font150;
    font-weight: $dc-normal-font-weight;
    line-height: $dc-touch-size;

    @include breakpoint($dc-large-width) {
        margin-left: $dc-space100;
    }

    @include breakpoint($dc-huge-width) {
        display: block;
        flex-grow: 0;
        margin-left: 0;
    }

    dc-img {
        vertical-align: top;
    }
}

.dc-logo {
    display: inline-block;
    width: 1.8rem;
    margin: .8 -.4 0 1.2;
    vertical-align: top;

    @include breakpoint($dc-huge-width) {
        display: none;

        + .product {
            display: none;
        }
    }
}

.dc-logo--with-text {
    display: none;
    height: $dc-space100 + .6;
    margin-top: $dc-space75;
    margin-left: $dc-space75;

    @include breakpoint($dc-huge-width) {
        display: inline-block;
    }
}

.dc-logo--with-text--brands {
    display: inline-block;
}

//  = BRAND SWITCHER
//  ---------------------------------------------------------------------------

.dc-nav-brand {
    position: relative;
    flex: 1 0 auto;
    order: 3;
    // font-size: $dc-font150;
    font-weight: $dc-bold-font-weight;
    line-height: $dc-touch-size;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    pointer-events: none;

    @include breakpoint($dc-huge-width) {
        // @include order(2);
        flex: 0 0 auto;
        margin-right: $dc-space150;
        font-size: $dc-font100;
    }

    .dc-is-admin & {
        cursor: pointer;
        pointer-events: auto;
    }
}

.touch .dc-nav-brand:active,
.no-touch .dc-nav-brand:hover {
    color: $dc-text-color;

    .dc-nav-brand__inner::after {
        opacity: 1;
    }
}

.touch .dc-nav-brand:active,
.no-touch .dc-nav-brand:active {
    transform: scale(.85);
}

.dc-nav-brand__inner {
    display: inline-block;
    position: relative;
    line-height: $dc-touch-size;

    &::after {
        position: absolute;
        right: 0;
        bottom: 1px;
        left: 0;
        height: $dc-space50 / 2;
        transition: opacity .1s linear;
        background: $dc-orange40;
        content: " ";
        opacity: 0;
    }
}

//  = MAIN NAVIGATION ELEMENTS
//  ---------------------------------------------------------------------------

.dc-nav-main,
.dc-nav-user {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: transform .2s .2s ease-in-out, opacity .1s .2s linear;
    border-top: $dc-border50 solid $dc-gray60;
    border-bottom: $dc-border50 solid $dc-gray60;
    background: rgba($dc-white, .85);
    opacity: 0;
    z-index: 998;

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    overflow-y: hidden;
}

.dc-nav-main {
    order: 2;

    @include breakpoint($dc-huge-width) {
        position: static;
        flex-grow: 1;
        order: 3;
        margin-left: $dc-space100;
        transform: scaleY(1);
        border: 0 none;
        opacity: 1;
        overflow-x: hidden;
        pointer-events: auto;

        .dc-nav-main__items {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .dc-nav-main__items {
        transform: translateX(-100%);
        transition: transform .2s ease-in-out, opacity .1s linear;
        opacity: 0;
    }
}

.dc-nav-user {

    @include breakpoint($dc-huge-width) {
        overflow-x: hidden;
    }

    .dc-nav-user__items {
        margin-right: $dc-space100;
        float: right;
        transform: translateX(100%);
        transition: transform .2s ease-in-out, opacity .1s;
    }
}



.dc-nav-user-toggle {
    order: 4;

    dc-svg {
        vertical-align: middle;
    }

    &:hover {
        .dc-user-name {
            color: $dc-orange40;
        }

        [fill^='#'] {
            fill: $dc-orange40;
        }

        [stroke^='#'] {
            stroke: $dc-orange40;
        }
    }

    &:active {
        transform: scale(.85);
    }
}

.dc-nav-user-toggle--styleguide {
    visibility: hidden;
}

// scss-lint:disable SelectorDepth
.dc-nav-main--is-shown .dc-nav-main-toggle svg {
    [fill^='#'] {
        fill: $dc-orange40;
    }

    [stroke^='#'] {
        stroke: $dc-orange40;
    }
}
// scss-lint:enable SelectorDepth

.dc-page--dashboard .nav-user--is-shown {
    // ~ .nav-user-toggle svg
    // {
    // 	[fill^='#']
    // 	{
    // 		fill:$dc-orange40;
    // 	}
    //
    // 	[stroke^='#']
    // 	{
    // 		stroke:$dc-orange40;
    // 	}
    // }
    //
    // ~ .nav-user-toggle .user-name
    // {
    // 	color:$dc-orange40;
    // }

    li:first-child {
        position: relative;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            background: $dc-orange40;
            content: " ";
        }
    }
}

.dc-page--help [href='help.html'] {
    [fill^='#'] {
        fill: $dc-orange40;
    }

    [stroke^='#'] {
        stroke: $dc-orange40;
    }
}

.dc-link[href='help.html'] {
    order: 6;
    margin-left: $dc-space100;
}

.dc-user-name {
    display: none;

    @include breakpoint($dc-large-width) {
        display: inline;
        order: 4;
        margin-right: -.6;
        margin-left: $dc-space100;
        line-height: $dc-touch-size;
    }
}

.dc-nav-main--is-shown,
.dc-nav-user--is-shown {
    transform: scaleY(1);
    transition: transform .2s ease-in-out, opacity .1s .1s linear;
    opacity: 1;
    pointer-events: auto;

    .dc-nav-main__items,
    .dc-nav-user__items {
        transform: translateX(0);
        transition: transform .2s .2s ease-in-out, opacity .1s .2s linear;
        opacity: 1;
    }
}

.dc-nav-main__items,
.dc-nav-user__items {
    height: $dc-touch-size;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}

.dc-nav-main__items--never-seen,
.dc-nav-user__items--never-seen {
    transform: translateX(-100%);
    transition: transform .6s .1s cubic-bezier(.055, .865, .475, .990);
}

.dc-nav-user__items--never-seen {
    transform: translateX(100%);
}

.dc-nav-main__item,
.dc-nav-user__item {
    display: inline-block;
    margin-left: $dc-space150;

    &:first-child {
        margin-left: $dc-space100;
    }

    &:active {
        transform: scale(.85);
    }
}

.dc-is-admin .dc-is-admin-only.dc-nav-main__item,
.dc-is-admin .dc-is-admin-only.dc-nav-user__item {
    // scss-lint:disable ImportantRule
    display: inline-block !important;
    // scss-lint:enable ImportantRule
}

.dc-nav-main__link,
.dc-nav-user__link {
    display: block;
    position: relative;
    height: $dc-touch-size;
    line-height: $dc-touch-size;

    &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: $dc-border100;
        transition: opacity .1s linear;
        background-color: $dc-nav-accent-color;
        content: " ";
        opacity: 0;
    }
}

.dc-nav-main__link:after {
    @include breakpoint($dc-huge-width) {
        bottom: 1px;
    }
}

.touch .dc-p-header .dc-nav-main__link:active,
.no-touch .dc-p-header .dc-nav-main__link:hover,
.touch .dc-p-header .dc-nav-user__link:active,
.no-touch .dc-p-header .dc-nav-user__link:hover,
.p-header .dc-nav-main__link--is-active,
.p-header .dc-nav-user__link--is-active {
    color: $dc-text-color;

    &:after {
        opacity: 1;
    }
}
