//  ---------------------------------------------------------------------------
//
//  Defines the brand shop page on edit page
//
//  ---------------------------------------------------------------------------


.page-wrapper
{
	@include flex-grow(1);
	padding: $bs-space200 $bs-space50;

	@include breakpoint($bs-large-width)
	{
		padding: $bs-space200 $bs-space100;
	}

	@include breakpoint($bs-huge-width)
	{
		padding: $bs-space200 $bs-space150;
	}
}

.page-wrapper--alt
{
	padding-top:0;

	@include breakpoint($bs-large-width)
	{
		padding-top:0;
	}

	@include breakpoint($bs-huge-width)
	{
		padding-top:0;
	}
}

.page-wrapper--styleguide
{
	padding-top: $bs-touch-size * 2;
}


//  = HEADER
//  ---------------------------------------------------------------------------

.page-header
{
	position:relative;
	margin:0 auto;
	min-width: 32;
	max-width: 160;

	// @include breakpoint($bs-large-width)
	// {
	// 	@include display-flex(flex);
	// 	@include flex-wrap(wrap);
	// 	@include justify-content(space-between);
	// 	@include align-items(center);
	// }
}

.page-header__title
{
	@extend .h3;
	display:inline-block;
	margin-left: $bs-space75;
	margin-bottom: $bs-space100;

	@include breakpoint($bs-large-width)
	{
		font-size: $bs-h2-size;
		line-height: $bs-h2-line-height;
	}

	@include breakpoint($bs-huge-width)
	{
		display:block;
		font-size: $bs-h1-size;
		line-height: $bs-h1-line-height;
		text-align:center;
	}

	.is-admin & > .is-admin-only--inline-block
	{
		display:none!important;

		@include breakpoint($bs-huge-width + .1)
		{
			display:inline!important;
		}
	}
}

.page-header__primary-action
{
	float:right;
	// margin-top: (-$bs-space75 -$bs-touch-size);

	@include breakpoint($bs-huge-width)
	{
		float:none;
		position:absolute;
		top: $bs-space100;
		right:0;
		margin-top:0;
	}
}

.page
{
	margin:0 auto;
	margin: 0 auto $bs-space200;
	padding: $bs-space100;
	min-width: 32;
	max-width: 160;
	background:$bs-white;
	// box-shadow:0 0  0   1px rgba($bs-black, .03),
	// 					 0 0 25px 0   rgba($bs-black, .1);
	box-shadow:0 1px 1px rgba(0,0,0,.2);

	@include breakpoint($bs-large-width)
	{
		padding: $bs-space150;
	}
}

.page--help
{
	.page
	{
		max-width: 60;
	}
}
