//  ---------------------------------------------------------------------------
//
//  Defines a simple search form
//
//  ---------------------------------------------------------------------------

//  = INPUT & BUTTON
//  ---------------------------------------------------------------------------

.#{$dc-prefix}-search-form {
    display: inline-block;
    position: relative;
    margin-bottom: $dc-space150;
}

.#{$dc-prefix}-search-form__input {

    -webkit-appearance: none;

    .no-touch &[type='search'],
    .touch &[type='search'] {
        margin: 0;
    }
}

.#{$dc-prefix}-search-form__btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    // scss-lint:disable BorderZero
    border: none;
    // scss-lint:enable BorderZero
    background: transparent;

    .#{$dc-prefix}-svg,
    .#{$dc-prefix}-img {
        display: block;
    }

    .no-touch &:hover,
    .touch &:active,
    &:focus {
        background: transparent;
        box-shadow: none;

        [fill^='#'] {
            fill: $dc-blue40;
        }

        [stroke^='#'] {
            stroke: $dc-blue40;
        }
    }
}

//  = AUTOSUGGEST
//  ---------------------------------------------------------------------------

.#{$dc-prefix}-suggest {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    min-width: 100%;
    margin: 0;
    padding: 0;
    transform: translateY(-4px);
    transition: transform .3s ease-out, opacity .2s;
    border: 1px solid $dc-gray60;
    border-radius: 0 0 2px 2px;
    background: $dc-white;
    // scss-lint:disable ColorVariable
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    // scss-lint:enable ColorVariable
    opacity: 0;
    z-index: 800;
    list-style-type: none;
    pointer-events: none;
}

.#{$dc-prefix}-suggest__link {
    display: block;
    padding: 0 $dc-space75;
    color: $dc-text-color;
    line-height: $dc-touch-size;
    white-space: nowrap;

    .no-touch &:hover,
    .touch &:active {
        background: desaturate(lighten($dc-blue70, 10%), 10%);
        color: $dc-text-color;
    }
}

.#{$dc-prefix}-search-form__input:focus ~ .#{$dc-prefix}-suggest {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
