//  ---------------------------------------------------------------------------
//
//  Defines a simple search form
//
//  ---------------------------------------------------------------------------



//  = INPUT & BUTTON
//  ---------------------------------------------------------------------------

		.#{$bs-prefix}-search-form
		{
			display: inline-block;
			position:relative;
			margin-bottom: $bs-space150;
		}

		.#{$bs-prefix}-search-form__input
		{
			.no-touch &[type='search'],
			.touch &[type='search']
			{
				margin: 0;
			}
			-webkit-appearance: none;
		}

		.#{$bs-prefix}-search-form__btn
		{
			position:absolute;
			top: 0;
			right:0;
			margin: 0;
			padding: 0;
			background: transparent;
			border: none;

			.#{$bs-prefix}-svg,
			.#{$bs-prefix}-img
			{
				display: block;
			}

			.no-touch &:hover,
			.touch &:active,
			&:focus
			{
				background: transparent;
				box-shadow: none;

				[fill^='#']
				{
					fill: $bs-blue40;
				}

				[stroke^='#']
				{
					stroke: $bs-blue40;
				}
			}
		}



		//  = AUTOSUGGEST
		//  ---------------------------------------------------------------------------

		.#{$bs-prefix}-suggest
		{
			position:absolute;
			top: calc(100% - 1px);
			left: 0;
			z-index: 800;
			margin: 0;
			padding: 0;
			min-width: 100%;
			background: $bs-white;
			border: 1px solid $bs-gray60;
			border-radius: 0 0 2px 2px;
			box-shadow: 0 1px 1px rgba(0,0,0,.2);
			list-style-type: none;
			opacity: 0;
			transform: translateY(-4px);
			transition: transform .3s ease-out, opacity .2s;
		}

		.#{$bs-prefix}-suggest__link
		{
			display: block;
			padding: 0 $bs-space75;
			line-height: $bs-touch-size;
			white-space: nowrap;
			color: $bs-text-color;

			.no-touch &:hover,
			.touch &:active
			{
				background:desaturate(lighten($bs-blue70, 10%), 10%);
				color: $bs-text-color;
			}
		}

		.#{$bs-prefix}-search-form__input:focus ~ .#{$bs-prefix}-suggest
		{
			opacity: 1;
			transform: translateY(0);
		}
