//  ---------------------------------------------------------------------------
//
//  Defines the brand shop edit page sidebar
//
//  ---------------------------------------------------------------------------


//  = SIDEBAR
//  ---------------------------------------------------------------------------

.sidebar
{
	position:relative;
	width:0;

	&:before
	{
		content:"Modules";
		position:absolute;
		top:0;
		right:100%;
		background:$bs-primary-accent;
		color:$bs-white;
	}

	&:hover
	{
		padding-right: $bs-space100;
		width: 20;
	}
}

.sidebar__inner
{
	padding: $bs-space200 $bs-space100;
	overflow:hidden;
}
