//  ---------------------------------------------------------------------------
//
//  Defines the brand portal messages
//
//  ---------------------------------------------------------------------------

		/* Animation keyframes - you need to add prefixes */
		@include keyframes(#{$bs-prefix}-spin)
		{
			from { @include transform(rotate(0deg)); }
			to { @include transform(rotate(360deg)); }
		}

		/* Loading animation container */
		.#{$bs-prefix}-loading
		{
			display:inline-block;
			position: relative;
			width: 12px;
			height: 12px;
			margin: -6px 12px 0;
			vertical-align:middle;
		}

		/* Spinning circle (inner circle) */
		.#{$bs-prefix}-loading .#{$bs-prefix}-maskedCircle
		{
			width: 10px;
			height: 10px;
			border-radius: 12px;
			border: 2px solid $bs-red20;
		}

		/* Spinning circle mask */
		.#{$bs-prefix}-loading .#{$bs-prefix}-mask
		{
			width: 6px;
			height: 6px;
			overflow: hidden;
		}

		/* Spinner */
		.#{$bs-prefix}-loading .#{$bs-prefix}-spinner
		{
			position: absolute;
			left: 1px;
			top: 1px;
			width: 13px;
			height: 13px;
			@include animation(#{$bs-prefix}-spin 1s infinite linear);
		}
