//  ---------------------------------------------------------------------------
//
//  Header for sub-pages
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

.sub-head
{
	width:100%;
	margin-bottom: $bs-doubleSpace;
	border-bottom:2px solid $bs-grayLightest;
}

.sub-head__back
{
	margin-right: $bs-singleSpace * 3;
	font-size: 1.6;
}

.sub-head__title
{
	@extend .h3;
}

.sub-head__back,
.sub-head__title
{
	line-height: 3.6;
}
