//  ---------------------------------------------------------------------------
//
//  Defines the help page table of contents
//
//  ---------------------------------------------------------------------------


//  = DIM
//  ---------------------------------------------------------------------------



//  = BASE
//  ---------------------------------------------------------------------------

		.table-of-contents,
		.table-of-contents ol
		{
			list-style-type:decimal;
			counter-reset:item;
		}

		.table-of-contents ol
		{
			margin-bottom:0;
			padding-left: $bs-space150;
		}

		.table-of-contents
		{
			li
			{
				display:block;

				&:before
				{
					content:counters(item, ".") " ";
					counter-increment:item;
				}
			}
		}
