//  ---------------------------------------------------------------------------
//
//  Defines all table styles
//
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-table {
	background: $bs-white;
	border-radius: 2px;
}

.#{$bs-prefix}-table__item-title {
	font-weight: $bs-bold-font-weight;
}

.#{$bs-prefix}-status { // FIXME!
	&:before {
		content: " ";
		display: inline-block;
		width: $bs-space75;
		height: $bs-space75;
		margin-right: $bs-space75;
		border-radius: 2px;
	}
}

.#{$bs-prefix}-status--online:before {
	background: $bs-green30;
}

.#{$bs-prefix}-status--offline:before {
	background: $bs-gray50;
}

//  = TABLE
//  ---------------------------------------------------------------------------

.#{$bs-prefix}-table__tr {
	@extend .#{$bs-prefix}-cf;
	cursor: pointer;
}

.#{$bs-prefix}-table__actions-wrapper {
	display: none;
}

@include breakpoint(0 $bs-huge-width - .1) {
	.#{$bs-prefix}-table,
	.#{$bs-prefix}-table__thead,
	.#{$bs-prefix}-table__tbody,
	.#{$bs-prefix}-table__tr,
	.#{$bs-prefix}-table__th,
	.#{$bs-prefix}-table__td {
		display: block;
		width: 100%;
		font-weight: $bs-normal-font-weight;
	}

	.#{$bs-prefix}-table__thead > tr {
		display: none;
	}

	.#{$bs-prefix}-table__tr {
		position: relative;
		padding: $bs-space100 0;
		border-bottom: 1px solid $bs-gray70;

		&:last-child {
			border-bottom: 0 none;
		}
	}

	.#{$bs-prefix}-table__td {
		padding-left: calc(30% + 12px);
		text-align: left;

		&:before {
			content: attr(data-col);
			display: block;
			position: absolute;
			left: 0;
			right: 70%;
			font-size: $bs-font50;
			line-height: 2.6;
			font-weight: $bs-bold-font-weight;
			text-transform: uppercase;
			text-align: right;
		}
	}

	.#{$bs-prefix}-page--dashboard .#{$bs-prefix}-table__td:last-child { // FIXME
		padding-left: calc(30% + 12px);

		&::before {
			content: attr(data-col);
		}
	}
}

.#{$bs-prefix}-table {
	width: 100%;
	text-align: left;
}

.#{$bs-prefix}-table__th {
	font-weight: $bs-bold-font-weight;
	text-transform: uppercase;
}

.#{$bs-prefix}-table__td {
	font-weight: $bs-normal-font-weight;
}

.#{$bs-prefix}-table__actions-toggle {
	display: none;
}

.#{$bs-prefix}-table__actions-label {
	display: inline;
	color: $bs-link-color;
	cursor: pointer;

	&:hover {
		color: $bs-link-color-hover;
	}
}

:checked + .#{$bs-prefix}-table__actions-label {
	color: $bs-link-color-hover;
}

.#{$bs-prefix}-table__actions {
	display: none;
	position: absolute;
	top: 100%;
	right: -1;
	background: $bs-white;
	border: 1px solid $bs-gray60;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba($bs-black, .2);
	line-height: $bs-touch-size;
	z-index: 900;

	&:after,
	&:before {
		content: " ";
		position: absolute;
		bottom: 100%;
		right: $bs-space100;
		height: 0;
		width: 0;
		border: solid transparent;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 6px;
	}

	&:before {
		border-color: rgba(209, 209, 209, 0);
		border-bottom-color: #d1d1d1;
		border-width: 7px;
		margin-right: -1px;
	}
}

.#{$bs-prefix}-table__actions-toggle:checked ~ .table__actions {
	display: inline-block;
}

.#{$bs-prefix}-table__action {
	padding: 0 $bs-space100;
}

.#{$bs-prefix}-table__action--disabled,
.#{$bs-prefix}-table__action--disabled a,
.touch .#{$bs-prefix}-table__action--disabled a:active,
.no-touch .#{$bs-prefix}-table__action--disabled a:hover {
	cursor: default;
	color: $bs-gray60;
	text-decoration: none;
}

@include breakpoint($bs-large-width $bs-huge-width - .1) {
	.#{$bs-prefix}-table__td {
		position: relative;
		float: left;
		width: 50%;
		padding-left: calc(16% + 12px);

		&:before {
			right: 69%;
		}

		&:nth-child(2) {
			clear: left;
		}

		&:first-child {
			margin-bottom: $bs-space50;
			width: 100%;

			&:before {
				right: 84.5%;
			}
		}
	}
}

@include breakpoint($bs-huge-width) {
	.#{$bs-prefix}-table__actions-wrapper {
		display: block;
		position: relative;
		padding: .4 0;
	}

	.#{$bs-prefix}-table__actions {
		padding: $bs-space50 $bs-space50 $bs-space50 0;
		line-height: 1;
	}

	.#{$bs-prefix}-table__action {
		display: inline-block;
		padding: 0;
		margin-left: $bs-space50;
	}

	.#{$bs-prefix}-table__action-group-start {
		padding-left: $bs-space100;
	}

	.#{$bs-prefix}-table__action-group-end {
		padding-right: $bs-space100;
	}

	.#{$bs-prefix}-table__tr {
		border-bottom: 1px solid $bs-gray70;
	}

	.#{$bs-prefix}-table__tbody > .table__tr {
		&:hover {
			background: desaturate(lighten($bs-blue70, 12%), 10%);
		}
	}

	body:not(.is-admin) .#{$bs-prefix}-table__tbody > .#{$bs-prefix}-table__tr--is-in-review { // FIXME
		&:hover {
			background: transparent;
			cursor: default;
		}
	}

	.#{$bs-prefix}-table__th,
	.#{$bs-prefix}-table__td {
		padding: $bs-space50 $bs-space50 / 2;
		line-height: 1.5;

		&:first-child {
			padding-left: $bs-space100 / 2;
		}

		@include breakpoint(1150px) {
			padding: 0 $bs-space100;
		}
	}

	.#{$bs-prefix}-page--dashboard .#{$bs-prefix}-table__th:last-child, // FIXME
	.#{$bs-prefix}-page--dashboard .#{$bs-prefix}-table__td:last-child {
		text-align: left;
	}

	.#{$bs-prefix}-table__th {
		@include breakpoint(1150px) {
			padding: $bs-space50 $bs-space100;
		}
	}

	.#{$bs-prefix}-table__td {
		padding-top: $bs-space75;
		padding-bottom: $bs-space75;
		white-space: nowrap;

		@include breakpoint(1280px) {
			&:nth-child(5) {
				padding-right: 10;
			}
		}
	}

	.#{$bs-prefix}-table__item-title {
		font-weight: $bs-normal-font-weight;
		white-space: normal;
	}
}

.touch .#{$bs-prefix}-page--dashboard .#{$bs-prefix}-table__tr { // FIXME
	position: relative;

	&::after {
		content: " ";
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -1.8;
		width: 3.6;
		height: 3.6;
		background: url(../img/i-arrow-right.min.svg);
	}
}
