//  ---------------------------------------------------------------------------
//
//  Defines the overview tiles
//
//  ---------------------------------------------------------------------------

//  = BASE
//  ---------------------------------------------------------------------------

// FIXME - XXX @xonic can we remove this file?

.#{$dc-prefix}-tile {
    margin-bottom: $dc-double-space;
    border: 2px solid $dc-gray-lightest;
    background: $dc-white;
    text-align: center;
    box-shadow: 2px 2px 0 rgba($dc-black, .2);
}

.#{$dc-prefix}-tile__link {
    display: block;
    padding: $dc-double-space $dc-double-space * 2;
    color: $dc-text-color;
}

.touch .#{$dc-prefix}-tile__link:active,
.no-touch .#{$dc-prefix}-tile__link:hover {
    background: $dc-gray-lightest;
    color: $dc-text-color;
}

.#{$dc-prefix}-tile--positive {
    border: 2px solid $dc-green-lighter;
    box-shadow: 2px 2px 0 rgba($dc-greenDark, .5);
}

.#{$dc-prefix}-tile--negative {
    border: 2px solid $dc-red-lighter;
    box-shadow: 2px 2px 0 rgba($dc-redDark, .5);
}

.#{$dc-prefix}-tile__title {
    margin-bottom: $dc-single-space;
    color: $dc-gray-light;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
}

.#{$dc-prefix}-tile__text {
    margin-bottom: $dc-single-space;
    font-size: 1.6rem;
    line-height: 1.5;
}

.#{$dc-prefix}-tile__kpi {
    display: block;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.5;
}

.#{$dc-prefix}-tile__positive {
    color: $dc-green;
    font-weight: bold;
}

.#{$dc-prefix}-tile__negative {
    color: $dc-red;
    font-weight: bold;
}
