/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */

// color vars
$code-colors: (
	blue: #26aafe,
	teal: #24e0fe,
	black: #4a4a4a,
	purple: #9757fd,
	maroon: #eb74e9,
	green: #65cb1c,
	orange: #ff8e25,
	light-gray: #fff,
	dark-gray: #807f80
);


// base
code,
code[class*='language-'],
pre[class*='language-'] {
	color: map-get($code-colors, black);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	tab-size: 4;
	hyphens: none;
	font-family: 'Ubuntu Mono', Menlo, Courier, monospace;
	line-height: 1.4;
	direction: ltr;
	cursor: text;
	letter-spacing: normal;
}

// code blocks
pre[class*='language-'] {
	overflow: auto;
	margin: 0 0 $space150;
	padding: $space100;
	// border: 1px solid $gray60;
	border-radius: 2px;
	// box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}

p code,
li code,
table code {
	margin: 0;
	border-radius: 3px;
	padding: 0.2em 0;

	&:before,
	&:after {
		letter-spacing: -0.2em;
		content: '\00a0';
	}
}

code,
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: map-get($code-colors, light-gray);
}

// inline code
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
}


// token colors
.token {

	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: map-get($code-colors, dark-gray);
	}

	&.punctuation,
	&.string,
	&.atrule {
		color: map-get($code-colors, dark-gray);
	}

	&.attr-value {
		color: map-get($code-colors, orange);
	}

	&.property,
	&.tag {
		color: map-get($code-colors, blue);
	}

	&.boolean,
	&.number {
		color: map-get($code-colors, teal);
	}

	&.selector,
	&.attr-name,
	&.attr-value .punctuation:first-child,
	&.keyword,
	&.regex,
	&.important {
		color: map-get($code-colors, purple);
	}


	&.operator,
	&.entity,
	&.url,
	.language-css &.string {
		color: map-get($code-colors, purple);
	}

	&.entity {
		cursor: help;
	}

}

.namespace {
	opacity: 0.7;
}
