.f-controls {
	@include clearfix;
	@include border-box;
		margin-bottom: $bs-space125;
		border-bottom: 1px solid $bs-gray70;

	.f-control {
		display: block;
		float: left;
		text-align: center;
		width: percentage(1/3);
		margin: 0;
		padding: 1rem 0;

		&.f-active {
			box-shadow: inset 0 -3px 0 0 map-get($bs-colors, accent);

			use {
				fill: $bs-orange40;
			}

			&:hover {
				use {
					fill: darken($bs-orange40, 10%);
				}
			}
		}

		svg {
			vertical-align: middle;

			use {
				fill: $bs-gray40;
			}

			&:hover {
				use {
					fill: darken($bs-orange40, 10%);
				}
			}
		}
	}
}

.f-control {
	@include border-box;
	display: inline-block;
	cursor: pointer;
	margin-left: $bs-space150;

	&:first-child {
		margin-left: 0;
	}

	svg {
		width: $bs-space125;
		height: $bs-space125;

		use {
			fill: map-get($bs-colors, light);
		}

		&:active
		{
			transform: scale(.85);
		}
	}
}

.f-control-bar {
	@include clearfix;
	padding: 1rem 0;
}

.f-menu-toggle {
	cursor: pointer;
	vertical-align: middle;

	svg {
		display: block;
		float: left;
		margin-bottom: -1px;

		use {
			fill: $bs-gray40;
		}

		&:hover {
			use {
				fill: darken($bs-orange40, 10%);
			}
		}
	}
}
