// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: $touchSize;
	left: 0;
	z-index: 1;
	width: calc(#{span(1 of 2)} + #{$space75});
	height: 100%;
	padding-bottom: $touchSize;
	background-color: map-get($colors, menu-background);
	border-right: 1px solid $gray60;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: transform .2s ease-out;
	transform: translate(-100%, 0);
	-webkit-overflow-scrolling: touch;

	@include breakpoint($small-width)
	{
		width: span(2 of 4);
	}

	@include breakpoint($medium-width)
	{
		width: calc(#{span(2 of 6)} + #{$space75});
	}

	@include breakpoint($large-width)
	{
		width: calc(#{span(2 of 8)} + #{$space100});
	}

	@include breakpoint($huge-width)
	{
		width: calc(#{span(2 of 12)} + #{$space100});
	}

	@include breakpoint($giant-width)
	{
		width: calc(#{span(2 of 16)} + #{$space150});
	}

	@include breakpoint($monstrous-width)
	{
		width: calc(#{span(2 of 20)} + #{$space200});
	}

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: $space150;

		> li {
			margin-bottom: $space125;
			padding-bottom: $space125;
			border-bottom: 1px solid $gray70;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: $space50 $space125;
		color: $gray20;
		text-decoration: none;
		font-size: $font100;
		line-height: 1.2;

		&:hover {
			color: $orange40;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 map-get($colors, accent);
		}
	}

	.f-menu__heading {
		padding-left: 1.5rem;
		font-weight: 500;
		font-size: $font100;
		text-transform: uppercase;

		&:hover {
			color: map-get($colors, normal);
		}
	}
}

.touch .f-menu a:active,
.no-touch .f-menu a:hover
{
	background-color: lighten($orange70, 12%);
	color: $orange40;
}
