// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: $bs-touch-size;
	left: 0;
	z-index: 1;
	width: calc(#{span(1 of 2)} + #{$bs-space75});
	height: 100%;
	padding-bottom: $bs-touch-size;
	background-color: map-get($bs-colors, menu-background);
	border-right: 1px solid $bs-gray60;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: transform .2s ease-out;
	transform: translate(-100%, 0);
	-webkit-overflow-scrolling: touch;

	@include breakpoint($bs-small-width)
	{
		width: span(2 of 4);
	}

	@include breakpoint($bs-medium-width)
	{
		width: calc(#{span(2 of 6)} + #{$bs-space75});
	}

	@include breakpoint($bs-large-width)
	{
		width: calc(#{span(2 of 8)} + #{$bs-space100});
	}

	@include breakpoint($bs-huge-width)
	{
		width: calc(#{span(2 of 12)} + #{$bs-space100});
	}

	@include breakpoint($bs-giant-width)
	{
		width: calc(#{span(2 of 16)} + #{$bs-space150});
	}

	@include breakpoint($bs-monstrous-width)
	{
		width: calc(#{span(2 of 20)} + #{$bs-space200});
	}

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: $bs-space150;

		> li {
			margin-bottom: $bs-space125;
			padding-bottom: $bs-space125;
			border-bottom: 1px solid $bs-gray70;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: $bs-space50 $bs-space125;
		color: $bs-gray20;
		text-decoration: none;
		font-size: $bs-font100;
		line-height: 1.2;

		&:hover {
			color: $bs-orange40;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 map-get($bs-colors, accent);
		}
	}

	.f-menu__heading {
		padding-left: 1.5rem;
		font-weight: 500;
		font-size: $bs-font100;
		text-transform: uppercase;

		&:hover {
			color: map-get($bs-colors, normal);
		}
	}
}

.touch .f-menu a:active,
.no-touch .f-menu a:hover
{
	background-color: lighten($bs-orange70, 12%);
	color: $bs-orange40;
}
