//  ---------------------------------------------------------------------------
//
//  Defines a styleguide section
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-section
		{
			padding-top: $space350;
			margin-bottom: $space350;

			@include breakpoint(huge-width)
			{
				padding-top: $space250;
			}
		}

			.sg-section__title
			{
				@extend .h1;

				font-weight:500;
				text-transform:uppercase;
			}

			.sg-section__sub-title
			{
				@extend .h3;

				margin-top: $space350;
				text-transform:uppercase;
				color:$gray50;
				border-bottom:1px solid $gray60;

				.sg-section__title + &
				{
					margin-top: $space250;
				}
			}

			.sg-section__sub-section
			{
				margin-bottom: $space100;
			}
