//  ---------------------------------------------------------------------------
//
//  Defines a grid of elements for styleguide
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-grid
		{
			@include display-flex(flex);
			@include flex-wrap(wrap);
		  position:relative;
			margin-bottom: $space250;
		}

			.sg-grid__element
			{
				width:50%;

				@include breakpoint($medium-width)
				{
					width:33.33%;
				}

				@include breakpoint($large-width)
				{
					width:25%;
				}

				@include breakpoint($huge-width)
				{
					width:20%;
				}

				@include breakpoint($giant-width)
				{
					width:14.25%;
				}
			}
