//  ---------------------------------------------------------------------------
//
//  Defines icon grids for the styleguide
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-icon
		{
			display:inline-block;
			margin-bottom: $dc-font250;
			padding: $dc-space100;
			background-color: $dc-white;
			border:1px solid $dc-gray60;
			text-align:center;

			svg
			{
				margin-bottom: $dc-font50;
				vertical-align:middle;
			}

			.i--interactive
			{
				&:hover
				{
					[fill^='#']
					{
						fill:$dc-blue30;
					}

					[stroke^='#']
					{
						stroke:$dc-blue30;
					}
				}

				&:active
				{
					transform: scale(.85);
					shape-rendering: optimizeSpeed;
					-webkit-tap-highlight-color: transparent;
				}
			}

			.i--portal
			{
				&:hover
				{
					[fill^='#']
					{
						fill:$dc-orange40;
					}

					[stroke^='#']
					{
						stroke:$dc-orange40;
					}
				}
			}
		}
