$dc-base-colors: (
	dark: hsl(0, 0%, 12%),
	medium: hsl(0, 0%, 46%),
	light: hsl(0, 0%, 80%),
	accent: #ff8e25
);

$dc-theme-dark: (
	menu-background: map-get($dc-base-colors, dark),
	menu-text: map-get($dc-base-colors, light),
	normal: map-get($dc-base-colors, medium)
);

$dc-theme-light: (
	menu-background: hsl(0, 0%, 100%),
	menu-text: map-get($dc-base-colors, medium),
	normal: map-get($dc-base-colors, medium)
);

$dc-theme: $dc-theme-light;

$dc-colors: map-merge($dc-base-colors, $dc-theme);

$dc-menu-width: 20rem;


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}
