@mixin dc-page {

    padding: 16px;

    @include breakpoint($dc-large-width) {
      padding: 24px;

    }

    @include breakpoint($dc-huge-width) {
        padding: $dc-space150;
    }

    @include breakpoint($dc-giant-width) {
        padding: $dc-space150 $dc-space250;
    }
}

@mixin dc-container {
    margin: 0 auto;

    &--limited {
        max-width: 120rem;
    }
}


@mixin dc-structure-selectors {
    .dc-page {
        @include dc-page;
        background-color: #fff;
    }

    .dc-container {
        @include dc-container;
    }
}
