/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

// susy grid framework
@import "../../../../node_modules/susy/sass/susy";

// dress code
@import "../../../../src/styles/index";

@import 'partials/mixins';
@import 'partials/variables';

// Custom Styleguide components
@import 'partials/sg-icon';
@import 'partials/sg-section';
@import 'partials/sg-breakpoint';
@import 'partials/code';
@import 'partials/header';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';

// Exceptions to the elements' CSS
@import 'partials/exceptions';
