//  ---------------------------------------------------------------------------
//
//  Collapsible element
//
//  ---------------------------------------------------------------------------

//  = BODY
//  ---------------------------------------------------------------------------

.#{$dc-prefix}-collapse-bd {
    height: 0;
    overflow: hidden;
}

.csstransitions .#{$dc-prefix}-collapsing {
    transition: height .3s ease-out;
}
