//  ---------------------------------------------------------------------------
//
//  Collapsible element
//
//  ---------------------------------------------------------------------------



//  = BODY
//  ---------------------------------------------------------------------------

	.#{$bs-prefix}-collapse-bd
	{
		height:0;
		overflow:hidden;
	}

	.csstransitions .#{$bs-prefix}-collapsing
	{
		transition: height .3s ease-out;
	}
