//  ---------------------------------------------------------------------------
//
//  Collapsible element
//
//  ---------------------------------------------------------------------------

//  = BODY
//  ---------------------------------------------------------------------------

.dc-collapse-bd {
    height: 0;
    overflow: hidden;
}

.csstransitions .dc-collapsing {
    transition: height .3s ease-out;
}
