//  ---------------------------------------------------------------------------
//
//  Collapse/expand pattern
//
//  ---------------------------------------------------------------------------

// scss-lint:disable ImportantRule
.dc-is-collapsed {
    height: 0 !important;
}

.dc-is-expanded {
    height: auto !important;
}

//  ---------------------------------------------------------------------------
//
//  Show/hide pattern
//
//  ---------------------------------------------------------------------------

.dc-is-hidden {
    display: none !important;
}

.dc-is-shown {
    display: block !important;
}

//  ---------------------------------------------------------------------------
//
//  Visible/invisible pattern
//
//  ---------------------------------------------------------------------------

.dc-is-invisible {
    opacity: 0;
}

.dc-is-visible {
    opacity: 1;
}

//  ---------------------------------------------------------------------------
//
//  Block/inline pattern
//
//  ---------------------------------------------------------------------------

.dc-is-inline {
    display: inline-block !important;
}

//  ---------------------------------------------------------------------------
//
//  Fixed elements
//
//  ---------------------------------------------------------------------------

.dc-is-fixed {
    position: fixed !important;
}

//  ---------------------------------------------------------------------------
//
//  You know you'll want some highlighted text, don't cha?
//
//  ---------------------------------------------------------------------------

.dc-is-important {
    background: $dc-yellow60 !important;
}

//  ---------------------------------------------------------------------------
//
//  This class is for text elements that are not so important and
//	appear in a less intrusive way
//
//  ---------------------------------------------------------------------------

.dc-less-important {
    color: $dc-gray50 !important;
}

//  ---------------------------------------------------------------------------
//
//  Alignment Classes - left - center - right
//
//  ---------------------------------------------------------------------------

.dc-text-left {
    text-align: left;
}

.dc-text-center {
    text-align: center;
}

.dc-text-right {
    text-align: right;
}
