
//  ---------------------------------------------------------------------------
//
//  Collapse/expand pattern
//
//  ---------------------------------------------------------------------------


	.is-collapsed
	{
		height:0!important;
	}

	.is-expanded
	{
		height:auto!important;
	}



//  ---------------------------------------------------------------------------
//
//  Show/hide pattern
//
//  ---------------------------------------------------------------------------


	.is-hidden
	{
		display:none!important;
	}

	.is-shown
	{
		display:block!important;
	}



//  ---------------------------------------------------------------------------
//
//  Visible/invisible pattern
//
//  ---------------------------------------------------------------------------


	.is-invisible
	{
		opacity: 0;
	}

	.is-visible
	{
		opacity: 1;
	}



//  ---------------------------------------------------------------------------
//
//  Block/inline pattern
//
//  ---------------------------------------------------------------------------

	.is-inline
	{
		display:inline-block !important;
	}



//  ---------------------------------------------------------------------------
//
//  Fixed elements
//
//  ---------------------------------------------------------------------------

	.is-fixed
	{
		position:fixed !important;
	}



//  ---------------------------------------------------------------------------
//
//  You know you'll want some highlighted text, don't cha?
//
//  ---------------------------------------------------------------------------

	.is-important
	{
		background:$bs-yellow60 !important;
	}


//  ---------------------------------------------------------------------------
//
//  This class is for text elements that are not so important and
//	appear in a less intrusive way
//
//  ---------------------------------------------------------------------------

	.less-important
	{
		color:$bs-gray50 !important;
	}

//  ---------------------------------------------------------------------------
//
//  Alignment Classes - left - center - right
//
//  ---------------------------------------------------------------------------


	.text-left
	{
		text-align:left;
	}

	.text-center
	{
		text-align:center;
	}

	.text-right
	{
		text-align:right;
	}
