//  ---------------------------------------------------------------------------
//
//  The nav abstraction
//	An abstract .nav class that basically throws any list into a very basic
//	horizontal series of links which can be extended to adopt more specific
//	styles, for example a breadcrumb or so.
//
//	Developed by Harry Roberts
//	http://csswizardry.com/2011/09/the-nav-abstraction/
//
//  ---------------------------------------------------------------------------

.dc-nav {
    margin-left: 0;
    list-style-type: none;

    .dc-li {
        display: inline;
    }

    .dc-link {
        display: inline-block;
    }
}
