---
title: The Holy Bible | Brand Solutions
fabricator: true
---

<h1>The Holy Bible</h1>
<h2>Brand Solutions platform style guide</h2>

<p>For You are my rock and my fortress; For Your name's sake You will lead me and guide me.<br>
   <em>Psalms 31:3</em></p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js&quot;&gt;&lt;/script&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;bower_components/the-holy-bible/dist/css/the-holy-bible.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;bower_components/the-holy-bible/dist/js/the-holy-bible.js&quot;&gt;&lt;/script&gt;</code></pre>
