//  ---------------------------------------------------------------------------
//
//  FORM ELEMENTS
//
//  ---------------------------------------------------------------------------

//  = LABEL
//  ---------------------------------------------------------------------------

.label {
	display: block;
	margin-bottom: $space50;
	font-size: $font50;
	line-height: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;
}

.label--disabled {
	color: $gray50;
}

.label--required:after {
	content: "Required";
	margin-left: $space50;
	text-transform: capitalize;
	font-weight: 300;
	color: $gray50;
}

.label--is-error:after {
	color: $red40;
}

//  = INPUTS
//  ---------------------------------------------------------------------------

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
textarea {
	margin-bottom: $space150;
	padding: $space75 + .1 $space75;
	border-radius: $radius100;
	border: 1px solid $gray60;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	font-size: 1.6rem;
	box-sizing: border-box;
	-webkit-appearance: none;

	transition: box-shadow .2s linear, border-color .2s linear;

	&:hover {
		border-color: $blue40;
	}

	&:focus {
		border-color: $blue40;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
		outline: 0;
	}

	&[disabled] {
		border-color: $gray70;
		color: $gray50;

		&::-webkit-input-placeholder {
			color: $gray60;
		}
		&:-moz-placeholder {
			color: $gray60;
		}
		&::-moz-placeholder {
			color: $gray60;
		}
		&:-ms-input-placeholder {
			color: $gray60;
		}
	}

	.no-touch & {
		padding: $space75 + .1 $space75;
		font-size: $font100;
	}

	&.input--is-error {
		border-color: $red40;

		&:hover,
		&:focus {
			border-color: $red40;
		}
	}
}

.input--block {
	display: inline-block;
	width: 100%;
}

//  = SEARCH FIELD
//  ---------------------------------------------------------------------------

.search {
	position: relative;

	@include breakpoint($huge-width) {
		position: absolute;
		top: $space75;
		width: 30%;
	}
}

.search__input {
	width: 100%;
}

.search__icon {
	position: absolute;
	top: 0;
	right: 0;
}

//  = TEXT AREA
//  ---------------------------------------------------------------------------

textarea {
	width: 100%;
	min-height: $space350 + $space75;
	padding: $space50 $space75;
	resize: vertical;

	&[disabled] {
		resize: none;
	}
}

//  = PLACEHOLDER
//  ---------------------------------------------------------------------------

::-webkit-input-placeholder {
	color: $gray50;
}

:-moz-placeholder {
	color: $gray50;
}

::-moz-placeholder {
	color: $gray50;
}

:-ms-input-placeholder {
	color: $gray50;
}

//  = RADIO BUTTON
//  ---------------------------------------------------------------------------

input[type='radio'],
.#{$bsPrefix}-checkbox {
	display: none;

	& + label {
		display: inline-block;
		position: relative;
		padding-left: $space200 - $space75;
		margin-right: $space150;
		margin-bottom: $space50;

		&:before,
		&:after {
			content: " ";
			position: absolute;

			left: 0;
			width: 2rem;
			height: 2rem;
			background: white;
			border: 1px solid $gray60;
			border-radius: $radius100;
		}

		&:after {
			top: .5rem;
			left: .5rem;
			width: 1rem;
			height: 1rem;
			opacity: 0;

			transform: scale3d(.5, .5, 1);
			transition: transform .1s ease-in-out, opacity .2s linear;
		}
	}

	&:checked + label:after {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

	&[disabled] + label {
		color: $gray50;

		&:before,
		&:after {
			border-color: $gray70;
		}

		&:after {
			background: $gray60 !important;
		}
	}
}

input[type='radio'] {

	& + label:before,
	& + label:after {
		border-radius: 50%;
	}

	& + label:after {
		border-color: darken($blue40, 5%);
	}

	&:checked + label:after {
		background: $blue40;
	}
}

//  = CHECKBOX
//  ---------------------------------------------------------------------------
.#{$bsPrefix}-checkbox {
	& + label:after {
		top: .2rem;
		left: .2rem;
		width: 2rem;
		height: 2rem;
		border: 0 none;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPkNoZWNrYm94PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQ2hlY2tib3giIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHN0cm9rZT0iIzI2QUFGRSIgc3Ryb2tlLXdpZHRoPSIzIj4gICAgICAgICAgICA8cGF0aCBkPSJNMyw5LjMyNjk5ODQ5IEw2LjY0OTA5ODM2LDEzLjUwOTQxNTQgTDE1LjAyNzgzMiwzLjUiIGlkPSJQYXRoLTE2IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
	}

	&[disabled] + label {
		color: $gray50;

		&:before,
		&:after {
			border-color: $gray60;
		}

		&:after {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPkNoZWNrYm94IGRpc2FibGVkPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQ2hlY2tib3gtZGlzYWJsZWQiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHN0cm9rZT0iI0VERUNFRCIgc3Ryb2tlLXdpZHRoPSIzIj4gICAgICAgICAgICA8cGF0aCBkPSJNMyw5LjMyNjk5ODQ5IEw2LjY0OTA5ODM2LDEzLjUwOTQxNTQgTDE1LjAyNzgzMiwzLjUiIGlkPSJQYXRoLTE2IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) !important;
		}
	}
}

//  = CHECKBOX SWITCH
//  ---------------------------------------------------------------------------

.#{$bsPrefix}-checkbox--alt + label {
	padding-left: $space200;

	&:before,
	&:after {
		margin-top: .5rem;
		width: 2.6rem;
		height: 1.3rem;
		transition: background-color .3s linear,
		transform .1s cubic-bezier(0.105, 0.420, 0.425, 1);
	}

	&:after {
		width: 1.1rem;
		height: 1.1rem;
		background: $gray50;
		border-radius: 1px;
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.#{$bsPrefix}-checkbox--alt:checked + label {
	&:after {
		background: none;
		background-color: $green30;
		transform: translateX(1.3rem);
		transition: background-color .1s linear,
		transform .1s cubic-bezier(0.105, 0.420, 0.425, 1);
	}
}

.#{$bsPrefix}-checkbox--alt[disabled] + label {
	&:after {
		background: none !important;
		background-color: $gray60 !important;
	}
}

//  = SELECT BOXES
//  ---------------------------------------------------------------------------

select,
.select {
	padding: $space75 $space200 $space75 $space75;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iOXB4IiBoZWlnaHQ9IjVweCIgdmlld0JveD0iMCAwIDkgNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+ICAgICAgICA8dGl0bGU+VHJpYW5nbGUgODwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJBbmFseXRpY3MtRmlsdGVyIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4gICAgICAgIDxnIGlkPSJQb3J0cmFpdC0tLTUvNVMvNUMtMiIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE3Ni4wMDAwMDAsIC0xMDcuMDAwMDAwKSIgZmlsbD0iIzNFM0UzRSI+ICAgICAgICAgICAgPHBhdGggZD0iTTE3NiwxMDcgTDE4NSwxMDcgTDE4MC41LDExMiBMMTc2LDEwNyBaIiBpZD0iVHJpYW5nbGUtOCIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+) no-repeat 92% 50% $white;
	border: $border50 solid $gray60;
	font-size: $bodyFontSize;
	line-height: 1;
	-webkit-appearance: none;
	transition: box-shadow .2s linear, border-color .2s linear;

	&:hover {
		border-color: $blue40;
	}

	&:focus,
	&:active {
		border-color: $blue40;
		outline: 0;
	}
}
