//  ---------------------------------------------------------------------------
//
//  Defines the grid and its behaviour
//  on different breakpoints.
//
//	Breakpoints:   0px ->  1 column
//				 320px ->  4 columns
//				 480px ->  8 columns
//				 600px -> 12 columns
//				1024px -> 16 columns
//				1280px -> 16 columns (= max-width)
//
//  ---------------------------------------------------------------------------




//  = GRID SETTINGS
//  ---------------------------------------------------------------------------

	// Base is 10px at this point

	// Relative column & gutter width
	$r-column-width				: 6 !default;
	$r-gutter-width				: 4 !default;
	$r-grid-padding				: 8 !default;
	$r-grid-padding-large		: 4 !default;
	$r-grid-padding-huge		: 5 !default;

	// Columns for smallest screen
	$total-columns		: 2 !default;

	// Column & gutter width in em (susy needs em)
	$column-width 		: convert-length($r-column-width,em,$bodyFontSize) !default; // convert to em
	$gutter-width		: convert-length($r-gutter-width,em,$bodyFontSize) !default; // convert to em
	$grid-padding		: convert-length($r-grid-padding,em,$bodyFontSize) !default; // convert to em
	$grid-padding-large	: convert-length($r-grid-padding-large,em,$bodyFontSize) !default; // convert to em
	$grid-padding-huge	: convert-length($r-grid-padding-huge,em,$bodyFontSize) !default; // convert to em

	$container-style	: fluid !default;




//  = BREAKPOINTS
//  ---------------------------------------------------------------------------

	// Base is 16px at this point

	// Feature phone		: 0px		 2 columns	-->	   0-UP
	$tiny-width				: 0 !default;
	$tiny-cols				: 2 !default;

	// Smartphone			: 320px		 4 columns 	-->  320-UP
	$small-width			: 20em !default;
	$small-cols				: 4 !default;

	// Smartphone landscape	: 480px 	 6 columns 	-->  480-UP
	$medium-width			: 30em !default;
	$medium-cols			: 6 !default;

	// Tablet 				: 600px, 	 8 columns 	-->  600-UP
	$large-width			: 37.5em !default;
	$large-cols 			: 8 !default;

	// Tablet landscape		: 1024px 	12 columns 	--> 1024-UP
	$huge-width				: 64em !default;
	$huge-cols				: 12 !default;

	// Desktop 				: 1280px 	16 columns 	--> 1280-UP
	$giant-width			: 80em !default;
	$giant-cols				: 16 !default;

	// Desktop large 		: 1600px 	20 columns 	--> 1600-UP
	$monstrous-width		: 100em !default;
	$monstrous-cols			: 20 !default;


//  = BREAKPOINTS
//  ---------------------------------------------------------------------------

	.is-show-breakpoints body
	{
		@include debugmessage("Tiny \2014 0-320px", $red60);

		&::before
		{
			transform: translateY(0);
			opacity: 1;
		}

		@include breakpoint($small-width)
		{
			@include debugmessage("Small \2014 320-480px", $orange60);
		}

		@include breakpoint($medium-width)
		{
			@include debugmessage("Medium \2014 480-600px", $yellow60);
		}

		@include breakpoint($large-width)
		{
			@include debugmessage("Large \2014 600-1024px", $green60);
		}

		@include breakpoint($huge-width)
		{
			@include debugmessage("Huge \2014 1024-1280px", $cyan60);
		}

		@include breakpoint($giant-width)
		{
			@include debugmessage("Giant \2014 1280-1600px", $blue60);
		}

		@include breakpoint($monstrous-width)
		{
			@include debugmessage("Monstrous \2014 1600px and up", $purple60);
		}
	}
