//  ---------------------------------------------------------------------------
//
//  Defines the grouping control
//
//  ---------------------------------------------------------------------------




//  = HEADER
//  ---------------------------------------------------------------------------

.group
{
	@include display-flex(flex);
	@include justify-content(space-between);
	font-size: 1.2;
	color:$gray;
}

.group__label
{
	line-height: 3.6;
}
