//  ---------------------------------------------------------------------------
//
//  Defines a page section
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.section
		{
			margin-bottom: $bs-space150;
		}

			.section__actions
			{
				float:right;
				margin-top: -$bs-space50;
			}

			.section__title
			{
				@extend .h4;
				padding-bottom: $bs-space75;
				border-bottom:1px solid $bs-gray60;
			}

			.section__sub-title
			{
				@extend .label;

				border-bottom:1px solid $bs-gray70;
			}




//  = DASHBOARD SPECIFIC SECTION
//  ---------------------------------------------------------------------------

		.section--dashboard
		{
			@include breakpoint($bs-huge-width)
			{
				@include display-flex(flex);
				margin-left: -$bs-space150;

				.section__sub-section
				{
					width:33.33%;
					padding-left: $bs-space150;
				}
			}
		}
