//  ---------------------------------------------------------------------------
//
//  Defines the overview tiles
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

.tile
{
	margin-bottom: $doubleSpace;
	background:$white;
	border:2px solid $grayLightest;
	box-shadow:2px 2px 0 rgba($black, .2);
	text-align:center;
}

.tile__link
{
	display:block;
	padding: $doubleSpace $doubleSpace * 2;
	color:$textColor;
}

.touch .tile__link:active,
.no-touch .tile__link:hover
{
	background:$grayLightest;
	color:$textColor;
}

.tile--positive
{
	border:2px solid $greenLighter;
	box-shadow:2px 2px 0 rgba($greenDark, .5);
}

.tile--negative
{
	border:2px solid $redLighter;
	box-shadow:2px 2px 0 rgba($redDark, .5);
}

.tile__title
{
	margin-bottom: $singleSpace;
	font-size: 2.4;
	line-height:1.2;
	text-transform:uppercase;
	color:$grayLight;
	font-weight:300;
}

.tile__text
{
	margin-bottom: $singleSpace;
	font-size: 1.6;
	line-height:1.5;
}

.tile__kpi
{
	display:block;
	font-size: 4.8;
	line-height:1.5;
	font-weight:bold;
}

.tile__positive
{
	color:$green;
	font-weight:bold;
}

.tile__negative
{
	color:$red;
	font-weight:bold;
}
