html {
	height: 100%;

	&.f-menu-active {
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

body {
	margin: 0;
	position: relative;

	.f-menu-active & {
		width:100%;
		height: 100%;
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	margin-top: $touchSize;
	padding: $space100;
	z-index: 0;
	min-height: calc(100vh - 4.4rem);
	transition: transform .2s ease-out;

	.f-menu-active & {
		transform: translate($menu-width, 0);

		@media (min-width: 60em) {
			margin-left: $menu-width;
			padding: $space200;
			height: calc(100vh - 4.4rem);
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			transform: translate(0, 0);
		}
	}

}
