html {
	height: 100%;

	&.f-menu-active {
		overflow-x: hidden;

		// @media (min-width: 60em) {
		// 	overflow-x: auto;
		// }
	}
}

body {
	margin: 0;
	position: relative;

	.f-menu-active & {
		width:100%;
		height: 100%;
		// overflow: hidden;

		// @media (min-width: 60em) {
		// 	overflow: auto;
		// }
	}
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	margin-top: $bs-touchSize;
	padding: $bs-space100;
	z-index: 0;
	min-height: calc(100vh - 4.4rem);
	transition: transform .2s ease-out, padding .2s ease-out;

	.f-menu-active & {
		transform: translate(calc(#{span(1 of 2)} + #{$bs-space75} + #{gutter(4)}), 0);
		padding-left: 0;

		@include breakpoint($bs-small-width)
		{
			transform: translate(calc(#{span(2 of 4)} + #{gutter(4)}), 0);
		}

		@include breakpoint($bs-medium-width)
		{
			transform: translate(calc(#{span(2 of 6)} + #{$bs-space75} + #{gutter(6)}), 0);
		}

		@include breakpoint($bs-large-width)
		{
			transform: translate(calc(#{span(2 of 8)} + #{$bs-space100} + #{gutter(8)}), 0);
		}

		@include breakpoint($bs-huge-width)
		{
			margin-left: calc(#{span(2 of 12)} + #{$bs-space100} + #{gutter(12)});
			padding: $bs-space150 $bs-space150 0 0;
			height: calc(100vh - #{$bs-touchSize};
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			transform: translate(0, 0);
		}

		@include breakpoint($bs-giant-width)
		{
			margin-left: calc(#{span(2 of 16)} + #{$bs-space150} + #{gutter(16)});
			padding: $bs-space150 $bs-space200 0 0;
		}

		@include breakpoint($bs-monstrous-width)
		{
			margin-left: calc(#{span(2 of 20)} + #{$bs-space200} + #{gutter(20)});
			padding: $bs-space150 $bs-space250 0 0;
		}
	}

	@include breakpoint($bs-large-width)
	{
		padding: $bs-space100 $bs-space150;
	}

	@include breakpoint($bs-monstrous-width)
	{
		padding: $bs-space100 $bs-space250;
	}

}
