//  ---------------------------------------------------------------------------
//
//  Defines icon grids for the styleguide
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-icon
		{
			display:inline-block;
			margin-bottom: $font250;
			padding: $space100;
			text-align:center;

			svg
			{
				margin-bottom: $font50;
				border:1px solid $gray70;
				vertical-align:middle;
			}
		}
