//  ---------------------------------------------------------------------------
//
//  Defines color tiles in styleguide
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-color
		{
			display:inline-block;
		  position:relative;

			&:after
			{
				content:" ";
				display:block;
				padding-top:50%;
			}
		}

			.sg-color__inner
			{
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;

				.sg-color--blue10 &
				{
					background:$bs-blue10;
					color:$bs-white;
				}

				.sg-color--blue20 &
				{
					background:$bs-blue20;
					color:$bs-white;
				}

				.sg-color--blue30 &
				{
					background:$bs-blue30;
					color:$bs-white;
				}

				.sg-color--blue40 &
				{
					background:$bs-blue40;
					color:$bs-black;
				}

				.sg-color--blue50 &
				{
					background:$bs-blue50;
					color:$bs-black;
				}

				.sg-color--blue60 &
				{
					background:$bs-blue60;
					color:$bs-black;
				}

				.sg-color--blue70 &
				{
					background:$bs-blue70;
					color:$bs-black;
				}

				.sg-color--cyan10 &
				{
					background:$bs-cyan10;
					color:$bs-white;
				}

				.sg-color--cyan20 &
				{
					background:$bs-cyan20;
					color:$bs-white;
				}

				.sg-color--cyan30 &
				{
					background:$bs-cyan30;
					color:$bs-white;
				}

				.sg-color--cyan40 &
				{
					background:$bs-cyan40;
					color:$bs-black;
				}

				.sg-color--cyan50 &
				{
					background:$bs-cyan50;
					color:$bs-black;
				}

				.sg-color--cyan60 &
				{
					background:$bs-cyan60;
					color:$bs-black;
				}

				.sg-color--cyan70 &
				{
					background:$bs-cyan70;
					color:$bs-black;
				}

				.sg-color--green10 &
				{
					background:$bs-green10;
					color:$bs-white;
				}

				.sg-color--green20 &
				{
					background:$bs-green20;
					color:$bs-white;
				}

				.sg-color--green30 &
				{
					background:$bs-green30;
					color:$bs-white;
				}

				.sg-color--green40 &
				{
					background:$bs-green40;
					color:$bs-black;
				}

				.sg-color--green50 &
				{
					background:$bs-green50;
					color:$bs-black;
				}

				.sg-color--green60 &
				{
					background:$bs-green60;
					color:$bs-black;
				}

				.sg-color--green70 &
				{
					background:$bs-green70;
					color:$bs-black;
				}

				.sg-color--yellow10 &
				{
					background:$bs-yellow10;
					color:$bs-white;
				}

				.sg-color--yellow20 &
				{
					background:$bs-yellow20;
					color:$bs-white;
				}

				.sg-color--yellow30 &
				{
					background:$bs-yellow30;
					color:$bs-white;
				}

				.sg-color--yellow40 &
				{
					background:$bs-yellow40;
					color:$bs-black;
				}

				.sg-color--yellow50 &
				{
					background:$bs-yellow50;
					color:$bs-black;
				}

				.sg-color--yellow60 &
				{
					background:$bs-yellow60;
					color:$bs-black;
				}

				.sg-color--yellow70 &
				{
					background:$bs-yellow70;
					color:$bs-black;
				}

				.sg-color--orange10 &
				{
					background:$bs-orange10;
					color:$bs-white;
				}

				.sg-color--orange20 &
				{
					background:$bs-orange20;
					color:$bs-white;
				}

				.sg-color--orange30 &
				{
					background:$bs-orange30;
					color:$bs-white;
				}

				.sg-color--orange40 &
				{
					background:$bs-orange40;
					color:$bs-black;
				}

				.sg-color--orange50 &
				{
					background:$bs-orange50;
					color:$bs-black;
				}

				.sg-color--orange60 &
				{
					background:$bs-orange60;
					color:$bs-black;
				}

				.sg-color--orange70 &
				{
					background:$bs-orange70;
					color:$bs-black;
				}

				.sg-color--red10 &
				{
					background:$bs-red10;
					color:$bs-white;
				}

				.sg-color--red20 &
				{
					background:$bs-red20;
					color:$bs-white;
				}

				.sg-color--red30 &
				{
					background:$bs-red30;
					color:$bs-white;
				}

				.sg-color--red40 &
				{
					background:$bs-red40;
					color:$bs-black;
				}

				.sg-color--red50 &
				{
					background:$bs-red50;
					color:$bs-black;
				}

				.sg-color--red60 &
				{
					background:$bs-red60;
					color:$bs-black;
				}

				.sg-color--red70 &
				{
					background:$bs-red70;
					color:$bs-black;
				}

				.sg-color--magenta10 &
				{
					background:$bs-magenta10;
					color:$bs-white;
				}

				.sg-color--magenta20 &
				{
					background:$bs-magenta20;
					color:$bs-white;
				}

				.sg-color--magenta30 &
				{
					background:$bs-magenta30;
					color:$bs-white;
				}

				.sg-color--magenta40 &
				{
					background:$bs-magenta40;
					color:$bs-black;
				}

				.sg-color--magenta50 &
				{
					background:$bs-magenta50;
					color:$bs-black;
				}

				.sg-color--magenta60 &
				{
					background:$bs-magenta60;
					color:$bs-black;
				}

				.sg-color--magenta70 &
				{
					background:$bs-magenta70;
					color:$bs-black;
				}

				.sg-color--purple10 &
				{
					background:$bs-purple10;
					color:$bs-white;
				}

				.sg-color--purple20 &
				{
					background:$bs-purple20;
					color:$bs-white;
				}

				.sg-color--purple30 &
				{
					background:$bs-purple30;
					color:$bs-white;
				}

				.sg-color--purple40 &
				{
					background:$bs-purple40;
					color:$bs-black;
				}

				.sg-color--purple50 &
				{
					background:$bs-purple50;
					color:$bs-black;
				}

				.sg-color--purple60 &
				{
					background:$bs-purple60;
					color:$bs-black;
				}

				.sg-color--purple70 &
				{
					background:$bs-purple70;
					color:$bs-black;
				}

				.sg-color--gray10 &
				{
					background:$bs-gray10;
					color:$bs-white;
				}

				.sg-color--gray20 &
				{
					background:$bs-gray20;
					color:$bs-white;
				}

				.sg-color--gray30 &
				{
					background:$bs-gray30;
					color:$bs-white;
				}

				.sg-color--gray40 &
				{
					background:$bs-gray40;
					color:$bs-black;
				}

				.sg-color--gray50 &
				{
					background:$bs-gray50;
					color:$bs-black;
				}

				.sg-color--gray60 &
				{
					background:$bs-gray60;
					color:$bs-black;
				}

				.sg-color--gray70 &
				{
					background:$bs-gray70;
					color:$bs-black;
				}
			}

				.sg-color__label
				{
					position:absolute;
					right:0;
					bottom:0;
					left:0;
					padding: $bs-space100;
				}
