//  ---------------------------------------------------------------------------
//
//  Defines color tiles in styleguide
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.sg-color
		{
			display:inline-block;
		  position:relative;

			&:after
			{
				content:" ";
				display:block;
				padding-top:50%;
			}
		}

			.sg-color__inner
			{
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;

				.sg-color--blue10 &
				{
					background:$blue10;
					color:$white;
				}

				.sg-color--blue20 &
				{
					background:$blue20;
					color:$white;
				}

				.sg-color--blue30 &
				{
					background:$blue30;
					color:$white;
				}

				.sg-color--blue40 &
				{
					background:$blue40;
					color:$black;
				}

				.sg-color--blue50 &
				{
					background:$blue50;
					color:$black;
				}

				.sg-color--blue60 &
				{
					background:$blue60;
					color:$black;
				}

				.sg-color--blue70 &
				{
					background:$blue70;
					color:$black;
				}

				.sg-color--cyan10 &
				{
					background:$cyan10;
					color:$white;
				}

				.sg-color--cyan20 &
				{
					background:$cyan20;
					color:$white;
				}

				.sg-color--cyan30 &
				{
					background:$cyan30;
					color:$white;
				}

				.sg-color--cyan40 &
				{
					background:$cyan40;
					color:$black;
				}

				.sg-color--cyan50 &
				{
					background:$cyan50;
					color:$black;
				}

				.sg-color--cyan60 &
				{
					background:$cyan60;
					color:$black;
				}

				.sg-color--cyan70 &
				{
					background:$cyan70;
					color:$black;
				}

				.sg-color--green10 &
				{
					background:$green10;
					color:$white;
				}

				.sg-color--green20 &
				{
					background:$green20;
					color:$white;
				}

				.sg-color--green30 &
				{
					background:$green30;
					color:$white;
				}

				.sg-color--green40 &
				{
					background:$green40;
					color:$black;
				}

				.sg-color--green50 &
				{
					background:$green50;
					color:$black;
				}

				.sg-color--green60 &
				{
					background:$green60;
					color:$black;
				}

				.sg-color--green70 &
				{
					background:$green70;
					color:$black;
				}

				.sg-color--yellow10 &
				{
					background:$yellow10;
					color:$white;
				}

				.sg-color--yellow20 &
				{
					background:$yellow20;
					color:$white;
				}

				.sg-color--yellow30 &
				{
					background:$yellow30;
					color:$white;
				}

				.sg-color--yellow40 &
				{
					background:$yellow40;
					color:$black;
				}

				.sg-color--yellow50 &
				{
					background:$yellow50;
					color:$black;
				}

				.sg-color--yellow60 &
				{
					background:$yellow60;
					color:$black;
				}

				.sg-color--yellow70 &
				{
					background:$yellow70;
					color:$black;
				}

				.sg-color--orange10 &
				{
					background:$orange10;
					color:$white;
				}

				.sg-color--orange20 &
				{
					background:$orange20;
					color:$white;
				}

				.sg-color--orange30 &
				{
					background:$orange30;
					color:$white;
				}

				.sg-color--orange40 &
				{
					background:$orange40;
					color:$black;
				}

				.sg-color--orange50 &
				{
					background:$orange50;
					color:$black;
				}

				.sg-color--orange60 &
				{
					background:$orange60;
					color:$black;
				}

				.sg-color--orange70 &
				{
					background:$orange70;
					color:$black;
				}

				.sg-color--red10 &
				{
					background:$red10;
					color:$white;
				}

				.sg-color--red20 &
				{
					background:$red20;
					color:$white;
				}

				.sg-color--red30 &
				{
					background:$red30;
					color:$white;
				}

				.sg-color--red40 &
				{
					background:$red40;
					color:$black;
				}

				.sg-color--red50 &
				{
					background:$red50;
					color:$black;
				}

				.sg-color--red60 &
				{
					background:$red60;
					color:$black;
				}

				.sg-color--red70 &
				{
					background:$red70;
					color:$black;
				}

				.sg-color--magenta10 &
				{
					background:$magenta10;
					color:$white;
				}

				.sg-color--magenta20 &
				{
					background:$magenta20;
					color:$white;
				}

				.sg-color--magenta30 &
				{
					background:$magenta30;
					color:$white;
				}

				.sg-color--magenta40 &
				{
					background:$magenta40;
					color:$black;
				}

				.sg-color--magenta50 &
				{
					background:$magenta50;
					color:$black;
				}

				.sg-color--magenta60 &
				{
					background:$magenta60;
					color:$black;
				}

				.sg-color--magenta70 &
				{
					background:$magenta70;
					color:$black;
				}

				.sg-color--purple10 &
				{
					background:$purple10;
					color:$white;
				}

				.sg-color--purple20 &
				{
					background:$purple20;
					color:$white;
				}

				.sg-color--purple30 &
				{
					background:$purple30;
					color:$white;
				}

				.sg-color--purple40 &
				{
					background:$purple40;
					color:$black;
				}

				.sg-color--purple50 &
				{
					background:$purple50;
					color:$black;
				}

				.sg-color--purple60 &
				{
					background:$purple60;
					color:$black;
				}

				.sg-color--purple70 &
				{
					background:$purple70;
					color:$black;
				}

				.sg-color--gray10 &
				{
					background:$gray10;
					color:$white;
				}

				.sg-color--gray20 &
				{
					background:$gray20;
					color:$white;
				}

				.sg-color--gray30 &
				{
					background:$gray30;
					color:$white;
				}

				.sg-color--gray40 &
				{
					background:$gray40;
					color:$black;
				}

				.sg-color--gray50 &
				{
					background:$gray50;
					color:$black;
				}

				.sg-color--gray60 &
				{
					background:$gray60;
					color:$black;
				}

				.sg-color--gray70 &
				{
					background:$gray70;
					color:$black;
				}
			}

				.sg-color__label
				{
					position:absolute;
					right:0;
					bottom:0;
					left:0;
					@include rem(padding, $space100);
				}
