@font-face {
	font-family: "DressCodeIcons";
	src: url('../fonts/DressCodeIcons.eot');
	src: url('../fonts/DressCodeIcons.eot?#iefix') format('eot'),
		url('../fonts/DressCodeIcons.woff') format('woff'),
		url('../fonts/DressCodeIcons.ttf') format('truetype'),
		url('../fonts/DressCodeIcons.svg#DressCodeIcons') format('svg');
}

@mixin dc-icons-styles {
	font-family: "DressCodeIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%dc-icons {
	@include dc-icons-styles;
}

@function dc-icons-char($filename) {
	$char: "";

	@if $filename == add {
		$char: "\E001";
	}
	@if $filename == alert-error {
		$char: "\E002";
	}
	@if $filename == alert-info {
		$char: "\E003";
	}
	@if $filename == alert-neutral {
		$char: "\E004";
	}
	@if $filename == alert-success {
		$char: "\E005";
	}
	@if $filename == alert-warning {
		$char: "\E006";
	}
	@if $filename == arrow-left {
		$char: "\E007";
	}
	@if $filename == arrow-right {
		$char: "\E008";
	}
	@if $filename == check {
		$char: "\E009";
	}
	@if $filename == close {
		$char: "\E00A";
	}
	@if $filename == cog {
		$char: "\E00B";
	}
	@if $filename == eye {
		$char: "\E00C";
	}
	@if $filename == history {
		$char: "\E00D";
	}
	@if $filename == info {
		$char: "\E00E";
	}
	@if $filename == lock {
		$char: "\E00F";
	}
	@if $filename == more {
		$char: "\E010";
	}
	@if $filename == pencil {
		$char: "\E011";
	}
	@if $filename == play {
		$char: "\E012";
	}
	@if $filename == redo {
		$char: "\E013";
	}
	@if $filename == search {
		$char: "\E014";
	}
	@if $filename == trash {
		$char: "\E015";
	}
	@if $filename == undo {
		$char: "\E016";
	}

	@return $char;
}

@mixin dc-icons($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %dc-icons;
		} @else {
			@include dc-icons-styles;
		}
		content: dc-icons-char($filename);
	}
}

.dc-icons-add {
	@include dc-icons(add);
}
.dc-icons-alert-error {
	@include dc-icons(alert-error);
}
.dc-icons-alert-info {
	@include dc-icons(alert-info);
}
.dc-icons-alert-neutral {
	@include dc-icons(alert-neutral);
}
.dc-icons-alert-success {
	@include dc-icons(alert-success);
}
.dc-icons-alert-warning {
	@include dc-icons(alert-warning);
}
.dc-icons-arrow-left {
	@include dc-icons(arrow-left);
}
.dc-icons-arrow-right {
	@include dc-icons(arrow-right);
}
.dc-icons-check {
	@include dc-icons(check);
}
.dc-icons-close {
	@include dc-icons(close);
}
.dc-icons-cog {
	@include dc-icons(cog);
}
.dc-icons-eye {
	@include dc-icons(eye);
}
.dc-icons-history {
	@include dc-icons(history);
}
.dc-icons-info {
	@include dc-icons(info);
}
.dc-icons-lock {
	@include dc-icons(lock);
}
.dc-icons-more {
	@include dc-icons(more);
}
.dc-icons-pencil {
	@include dc-icons(pencil);
}
.dc-icons-play {
	@include dc-icons(play);
}
.dc-icons-redo {
	@include dc-icons(redo);
}
.dc-icons-search {
	@include dc-icons(search);
}
.dc-icons-trash {
	@include dc-icons(trash);
}
.dc-icons-undo {
	@include dc-icons(undo);
}
