//  ---------------------------------------------------------------------------
//
//  Defines a page section
//
//  ---------------------------------------------------------------------------




//  = BASE
//  ---------------------------------------------------------------------------

		.section
		{
			@include rem(margin-bottom, $space150);
		}

			.section__actions
			{
				float:right;
				@include rem(margin-top, -$space50);
			}

			.section__title
			{
				@extend .h4;
				@include rem(padding-bottom, $space75);
				border-bottom:1px solid $gray60;
			}

			.section__sub-title
			{
				@extend .label;

				border-bottom:1px solid $gray70;
			}




//  = DASHBOARD SPECIFIC SECTION
//  ---------------------------------------------------------------------------

		.section--dashboard
		{
			@include breakpoint($huge-width)
			{
				@include display-flex(flex);
				@include rem(margin-left, -$space150);

				.section__sub-section
				{
					width:33.33%;
					@include rem(padding-left, $space150);
				}
			}
		}
